#list-agenda li.list-group-item {
    border: 1px solid rgb(255, 138, 71);
}

#list-agenda li a{
    display: block;
    color: #333;
}

#list-agenda li.list-group-item.active {
    border-color: #f99158;
    background-color: #fdf2ed;
}

#list-agenda li.active a{
    color: #f99158;
    font-weight: bold;
}
#list-agenda li:hover a, #list-agenda li:active a {
    background: none;
}

.empty {
    height: 200px;
    width: 100%;
    font-size: 2rem;
    color: #f99158;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f99158;
    border-radius: 15px;
    text-align: center;
}

.bg-black {
    background: #333333;
}


.checkbox-status input[type="checkbox"]:checked + label.pago {
    border-bottom-color: #0acf97;
}

.checkbox-status input[type="checkbox"]:checked + label.pago span.quantidade {
    background-color: #0acf97;
    color: #fff;
}

.checkbox-status input[type="checkbox"]:checked + label.estornado {
    border-bottom-color: #fa5c7c;
}
.checkbox-status input[type="checkbox"]:checked + label.estornado span.quantidade {
    background-color: #fa5c7c;
    color: #fff;
}

.calendar {
    width: 100%;
}

ul.calendar-container-days, ul.list-hours {
    display: flex;
}

.calendar .calendar-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar .calendar-action .btn-calendar {
    background: transparent;
    color: #FF8A47;
    border: none;
    box-shadow: none;
    font-weight: 600;
    display: flex;
}

.calendar .calendar-action .btn-calendar.btn-calendar-next {
    flex-direction: row-reverse;
}

.calendar .calendar-container-days {
    overflow-x: auto;
    padding-bottom: 5px;
    scroll-behavior: smooth;

}

.calendar .calendar-container-days::-webkit-scrollbar {
    width: 2px;
    height: 3px;
}

.calendar .calendar-container-days::-webkit-scrollbar-thumb {
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background: #f99158;
}


.calendar .calendar-container-days::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px #444;
    border-radius: 15px;
}


.calendar .calendar-container-days li {
    margin: 4px 3px;
    text-align: center;
    min-width: 50px;
}

.calendar .calendar-container-days li a {
    color: #000;
    display: block;
    padding: 10px 3px;
    border-radius: 6px;
    cursor: pointer;
}

.calendar .calendar-container-days li a:hover {
    background: #ebebeb;
}

.calendar .calendar-container-days li a span.day-week {
    font-size: 14px;
    color: #888;
    display: block;
    text-transform: uppercase;
}

.calendar .calendar-container-days li a span.day-month {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.calendar .calendar-container-days li.active a {
    background: #fdf2ed;
}

.calendar .calendar-container-days li.active a span.day-week {
    color: #f99158;
}

.calendar .calendar-container-days li.active a span.day-month {
    color: #f99158;
}



.calendar .calendar-container-hours .list-hours {
    flex-wrap: wrap;
}

.calendar-hours.turno {
    border-bottom: 1px dashed #ccc;
}
.calendar-hours.turno h6 {
    text-transform: capitalize;
    font-weight: normal;
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.calendar-hours li {
    padding-bottom: 10px;
}

.calendar .btn-calendar-hour {
    box-sizing: border-box;
    font-family: inherit;
    height: 38px;
    width: 70px;
    max-width: 160px;
    margin: 0 15px 15px 0;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #f99158;
    color: #f99158;
    border-radius: 6px;
}

@media (max-width: 592px) {
    .label-prev, .label-next {
        display: none;
        min-width: 50px;
    }

    .calendar-action h5 {
        font-size: 14px;
    }

    .empty {
        height: 100px;
        font-size: 1.2rem;
    }
}
