@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.fundo-preto {
    display: flex;
    justify-content: center;
}

.fundo-preto .card-digital {
    position: relative;
    width: 100%;
    height: 21vw;
    max-height: 310px;
    max-width: 510px;
    backface-visibility: hidden;
    transition: all .5s linear;
    perspective: 1000px;
}

.fundo-preto .card-digital .card-image {
    width: 100%;
    height: 100%;
    position: absolute;
}

.fundo-preto .card-digital .card-image.front {
    transform: rotateY(0deg);
    backface-visibility: hidden;
    transition: all .3s linear;
}

.fundo-preto .card-digital .card-image img {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.fundo-preto .card-digital .card-image .info-usuario-card {
    position: absolute;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    top: 0;
    left: 0;
}

@media(max-width: 1200px) {
    .fundo-preto .card-digital {
        height: 40vw;
        max-height: 260px;
    }
    .fundo-preto .card-digital .card-image .info-usuario-card {
        font-size: 10px;
    }
}

@media(max-width: 576px) {
    .fundo-preto .card-digital .card-image .info-usuario-card {
        font-size: 6px;
    }
}

.fundo-preto .card-digital .card-image .info-usuario-card .details {
    width: 100%;
}

.fundo-preto .card-digital .card-image .info-usuario-card table {
    width: 100%;
    table-layout: fixed;
}

.details table h1{
    font-size: 2em;
}

.details table h2 {
    font-size: 1.8em;
}

.details table h3 {
    font-size: 1.5em;
}

.details table p {
    font-size: 1em;
    margin-bottom: 0;
}

.fundo-preto.show-card {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    z-index: 21;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fundo-preto.show-card  .flip-card {
    position: absolute;
    bottom: 100px;
    left: 50%;
    font-size: 2.5rem;
    color: #fff;
    display: block;
}

.fundo-preto.show-card .btn-close-card {
    position: fixed;
    top: 20px;
    right: 20px;
    transform: rotate(90deg);
    font-size: 2rem;
    color: #fff;
    display: block;
}

.fundo-preto.show-card  .card-digital {
    perspective: 1000px;
    backface-visibility: visible;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    max-height: 350px;
}

.fundo-preto.show-card .card-digital .card-image {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    transition: all .5s linear;
}

.fundo-preto.show-card .card-digital .card-image.front {
    transform: rotateY(0deg);
}

.fundo-preto.show-card .card-digital .card-image.back {
    transform: rotateY(180deg);
}

.fundo-preto.show-card .flip .card-image.front{
    transform: rotateY(180deg);
}

.fundo-preto.show-card .flip .card-image.back{
    transform: rotateY(0deg);
}

.fundo-preto.show-card .card-digital .info-usuario-card {
    font-size: 14px;
}

@media(max-width: 728px) {

    .fundo-preto.show-card .card-digital {
        transform: rotate(90deg);
        height: 60vh;
        max-height: 250px;
        margin-left: -10px;
        margin-top: -50px;
    }

    .fundo-preto.show-card .card-digital .card-image,  .card-digital .card-image  img {
        width: 420px;
        border-radius: 15px;
    }

    .fundo-preto.show-card .card-digital .info-usuario-card {
        font-size: 10px;
    }

    .fundo-preto.show-card .flip-card {
        transform: rotate(90deg);
        bottom: 20px;
    }

    .fundo-preto.show-card .btn-close-card {
        bottom: 20px;
        top: auto;
        right: 0;
    }
}