#container-button {
  position: fixed;
  top: 70px;
  width: calc(100% - 290px);
  z-index: 4;
  background-color: #FDFDFD;
}

.fixed-dashboard #container-button {
  position: static;
  width: 100%;
}

#app header {
  top: 161px;
  width: calc(100% - 320px);
  height: 120px;
}

.fixed-dashboard #app header {
  top: 62px;
}

#app.plano-fixo header {
  width: calc(100% - 700px);
}

#app #main {
  margin-top: 220px;
}

.fixed-dashboard #app #main {
  margin-top: 120px;
}

#app.plano-fixo #main .menu-right {
  width: 380px;
  top: 161px;
  right: 36px;
  height: calc(100% - 211px);
}

.fixed-dashboard #app.plano-fixo #main .menu-right {
  top: 63px;
}

#app.plano-fixo #main .menu-right.h100 {
  height: calc(100% - 211px);
}

#app.plano-fixo #main .menu-right.h-footer {
  height: calc(100% - 310px);
}

.fixed-dashboard #app.plano-fixo #main .menu-right.h100 {
  height: calc(100% - 113px);
}

.fixed-dashboard #app.plano-fixo #main .menu-right.h-footer {
  height: calc(100% - 221px);
}

@media(max-width: 1045px) {

  #container-button {
    width: calc(100% - 113px);
  }

  #app header {
    width: calc(100% - 140px);
  }

  #app.plano-fixo header {
    width: calc(100% - 520px);
  }

  #app.plano-fixo #main .menu-right {
    width: 380px;
  }
}

@media (max-width: 991px) {
  #container-button { 
    width: 100%;
  }

  .page-title-box .page-title {
    line-height: normal;
    margin-top: 10px;
  }

  .img-logo img {
    height: 50px;
  }

  #app header,
  #app.plano-fixo header {
    width: 100%;
    left: 0;
  }

  #app.plano-fixo #main {
    margin-top: 419px;
  }

  #app.plano-fixo #main .menu-right.h100,
  #app.plano-fixo #main .menu-right,
  #app.plano-fixo.fixed-menu #main .menu-right,
  #app.plano-fixo.fixed-menu #main .menu-right.h100,
  .fixed-dashboard #app.plano-fixo.fixed-menu #main .menu-right.h-footer {
    position: fixed;
    width: 100%;
    left: 0;
    top: 307px;
    height: 165px;
  } 

  #app.plano-fixo.fixed-menu #main .menu-right,
  #app.plano-fixo.fixed-menu #main .menu-right.h100,
  #app.plano-fixo.fixed-menu #main .menu-right.h-footer,
  .fixed-dashboard #app.plano-fixo.fixed-menu #main .menu-right.h-footer {
    top: 162px;
  }

  #app.plano-fixo.fixed-menu #main {
    margin-top: 419px;
  }

  #app.plano-fixo.fixed-menu #main .menu-right.open,
  #app.plano-fixo.fixed-menu #main .menu-right.h100.open,
  #app.plano-fixo.fixed-menu #main .menu-right.h-footer.open {
    height: calc(100% - 212px);
  }

}