table#tbClientes {
  font-size: 12px;
  white-space: nowrap;
}

span.status-plano {
  border: 2px solid #727cf5;
  display: table;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 10px;
  color: #727cf5;
  margin-top: 15px;
  float: right;
  font-weight: bold;
  letter-spacing: 0.15rem;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

span.parentesco {
  border: 2px solid #727cf5;
  display: inline-block;
  padding: 5px 10px;
  font-size: 1em;
  border-radius: 10px;
  color: #727cf5;
  margin-top: 15px;
  font-weight: bold;
}

span.parentesco.Ativo {
  border-color: #0acf97;
  color: #0acf97;
}

span.parentesco.Pendente {
  border-color: #6c757d;
  color: #6c757d;
}

.card-datatable-controls .checkbox-status input[type="checkbox"], .checkbox-status input[type="radio"] {
  margin-left: -30000px;
  position: absolute;
}

.card-datatable-controls .checkbox-status label {
  border-bottom: 5px solid #e5e5e5;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 0px;
  cursor: pointer;
  font-weight: bold;
}

.card-datatable-controls .checkbox-status label span.quantidade {
  background-color: #e5e5e5;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}

.card-datatable-controls .checkbox-status input[type="checkbox"]:checked + label.success {
  border-bottom-color: #0acf97;
}

.card-datatable-controls .checkbox-status input[type="checkbox"]:checked + label.success span.quantidade {
  background-color: #0acf97;
  color: #fff;
}

.card-datatable-controls .checkbox-status input[type="checkbox"]:checked + label.info {
  border-bottom-color: #39afd1;
}

.card-datatable-controls .checkbox-status input[type="checkbox"]:checked + label.info span.quantidade {
  background-color: #39afd1;
  color: #fff;
}

.card-datatable-controls .checkbox-status input[type="checkbox"]:checked + label.danger {
  border-bottom-color: #fa5c7c;
}

.card-datatable-controls .checkbox-status input[type="checkbox"]:checked + label.danger span.quantidade {
  background-color: #fa5c7c;
  color: #fff;
}

.card-datatable-controls .checkbox-status input[type="checkbox"]:checked + label.emaberto {
  border-bottom-color: #8b0000;
}

.card-datatable-controls .checkbox-status input[type="checkbox"]:checked + label.emaberto span.quantidade {
  background-color: #8b0000;
  color: #fff;
}

.card-datatable-controls .checkbox-status input[type="checkbox"]:checked + label.warning {
  border-bottom-color: #ffbc00;
}

.card-datatable-controls .checkbox-status input[type="checkbox"]:checked + label.warning span.quantidade {
  background-color: #ffbc00;
  color: #fff;
}

.card-datatable-controls .checkbox-status input[type="checkbox"]:checked + label.primary {
  border-bottom-color: #8e44ad;
}

.card-datatable-controls .checkbox-status input[type="checkbox"]:checked + label.primary span.quantidade {
  background-color: #8e44ad;
  color: #fff;
}

.card-datatable-controls .checkbox-status input[type="checkbox"]:checked + label.secondary {
  border-bottom-color: #6c757d;
}

.card-datatable-controls .checkbox-status input[type="checkbox"]:checked + label.secondary span.quantidade {
  background-color: #6c757d;
  color: #fff;
}

span.status {
  width: 15px;
  height: 15px;
  background: #6c757d;
  display: block;
  border-radius: 50%;
}