.widget-flat .item-widget {
  padding: 1.5rem 2rem;
}

.widget-flat .item-widget i.mdi {
  font-size: 2.5rem;display: block;
}

#card-vendas-resumo .splits .split {
  background-color: #fafafa;
  border: 1px solid #e1e1e1;
  color: #666;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}

#card-vendas-resumo .splits .split .empresa {
  font-weight: bold;
  font-size: 12px;
}

#card-vendas-resumo .splits .split .valor {
  color: #39afd1;
  font-weight: bold;
  font-size: 14px;
}

#card-vendas-resumo .splits .split svg {
  position: absolute;
  z-index: 2;
  top: 100%;
  right: 15px;
}

#card-vendas-resumo .splits .split.sivis svg {
  right: auto;
  left: 15px;
}

#card-vendas-resumo .splits .split svg .triangulo {
  fill: #fafafa;
}

#card-vendas-resumo .splits .split svg .linha {
  stroke: #e1e1e1;
  stroke-width: 1;
}

#card-vendas-resumo .progress-bar-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

#card-vendas-resumo .progress-bar-wrapper .percentual {
  padding: 0 5px;
  color: #39afd1;
  font-weight: bold;
}

#card-vendas-resumo .progress-bar-wrapper .percentual-2 {
  color: #0acf97;
}

#card-vendas-resumo .progress-bar-wrapper .progress-bar {
  height: 10px;
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  background-color: #39afd1;
  border-radius: 5px;
  overflow: hidden;
}

#card-vendas-resumo .progress-bar-wrapper .progress-bar .cliente {
  background-color: #0acf97;
  border-radius: 5px;
  display: inline-block;
  min-height: 1px;
  height: inherit;
}

table#tbFuncionarios {
  font-size: 12px;
  white-space: nowrap;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #313a46;
}


@media(max-width: 768px) {
  table#tbFuncionarios {
      white-space: normal;
  }

}


td.column-success {
  background-color: #9EF7D8;
}

td.column-warning {
  background-color: #F0EACF;
}

td.column-info {
  background-color: #A3DDEC;
}

td.column-danger {
  background-color: #FFB6C1;
}

a.link-status {
  color: #fff !important;
  cursor: pointer;
}

span.status {
  width: 15px;
  height: 15px;
  background: #6c757d;
  display: block;
  border-radius: 50%;
}

.overflow-hidden {
  overflow: hidden;
}

.container-counter {
  display: flex;
  overflow-x: auto;
  padding-bottom: 20px;
}

.container-counter::-webkit-scrollbar {
  width: 2px;
  height: 3px;
}

.container-counter::-webkit-scrollbar-thumb {
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: #313a46;
}


.container-counter::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #444;
  border-radius: 15px;
}

.counter {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  border-radius: 10px;
  background-color: #ebebeb;
  color: #bbb;
  margin-right: 10px;
  font-weight: bold;
  min-width: 140px;
}

.counter.active {
  color: #444;
  border: 3px solid #313a46;
}

.counter.active.comissao_plano, 
.counter.active.comissao_plano_pri {
  background-color: #9EF7D8;
}

.counter.active.comissao_servico {
  background-color: #F0EACF;
}

.counter.active.comissao_produto {
  background-color: #A3DDEC;
}

.counter.active.comissao {
  background-color: #FFB6C1;
}

.counter:hover {
  color: #444;
  filter: saturate(5);
}

.counter .valor-counter {
  font-size: 1.25rem;
}

.counter .valor-counter .valor-real {
  font-size: 1.2em;
}

.counter .valor-counter .valor-centavo {
  bottom: 0.3rem;
  margin-left: -3px;
}

.counter .qtd-counter {
  font-size: 2.2rem;
  font-family: 'Arial Black';
}

.counter .descricao {
  font-size: 0.85rem;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #313a46;
  border-color: #313a46;
}