.box-plano-pagamento {
    padding-bottom: 10px;
    border-bottom: 1px dashed #bbb;
}

.box-plano-pagamento .box-fp h3{
    font-size: 1.2rem;
    color: #333;
}


.img-icone-pagamento {
    max-width: 200px;
    width: 100%;
}

.box-plano-pagamento .box-fp h4 {
    font-size: 1rem;
    color: #bebebe;
    margin-bottom: 5px;
}

.box-plano-pagamento .box-fp .content-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.box-plano-pagamento .box-fp .content-info .link-boleto, .link-boleto-extra {
    font-size: 1.125rem;
    color: #333;
    font-weight: bold;
}

.box-plano-pagamento .box-fp .content-info {
    background: url("../img/boleto.png") no-repeat center center;
    background-size: 100%;
}

.bandeira {
    width: 32px;
    height: 24px;
    margin-right: 5px;
    display: inline-block;
}

.credcard-thumb {
    position: absolute;
    top: 1px;
    height: 32px;
    width: 45px;
    left: 17px;
}

.bandeira.boleto {
    background: url("../img/boleto.png") no-repeat center center;
    background-size: 100%;
}

.bandeira.mastercard, .credcard-thumb.mastercard {
    background: url("../img/icon-card-mastercard.png") no-repeat center center;
    background-size: 100%;
}

.bandeira.visa, .credcard-thumb.visa {
    background: url("../img/icon-card-visa.png") no-repeat center center;
    background-size: 100%;
}

.bandeira.elo, .credcard-thumb.elo {
    background: url("../img/icon-card-elo.png") no-repeat center center;
    background-size: 100%;
}

.bandeira.aura, .credcard-thumb.aura{
    background: url("../img/icon-card-aura.png") no-repeat center center;
    background-size: 100%;
}

.bandeira.amex, .credcard-thumb.amex {
    background: url("../img/icon-card-amex.png") no-repeat center center;
    background-size: 100%;
}

.box-plano-pagamento .box-fp .info-status {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
}

.box-plano-pagamento .box-fp .info-status.aprovado {
    background: #0acf97;
}

.box-plano-pagamento .box-fp .info-status.recusado {
    background: #fa5c7c;
}

.box-plano-pagamento .box-fp .info-status.aberto {
    background: #39afd1;
}

.box-plano-pagamento .box-fp .info-status.vencido {
    background: darkred;
}

.box-plano-pagamento .box-fp .info-status.pendente {
    background: #ffbc00;
}


.box-plano-pagamento .box-fp .box-info-mensalidade {
    display: flex;
    justify-content: space-between;
}

.box-plano-pagamento .box-fp .box-info-mensalidade .info-mensalidade {
    font-size: 0.875rem;
    font-weight: bold;
}

.box-plano-pagamento .box-fp .box-info-mensalidade .info-mensalidade .dia {
    display: block;
    font-weight: normal;
}

.box-plano-pagamento .box-fp .numero-credito {
    font-size: 1.1rem;
}

.box-plano-pagamento .box-fp .icone {
    font-size: 1.8rem;
    margin-right: 5px;
}

.box-plano-pagamento .container-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.form-fp {
    display: none;
}

.info-pagto-detalhes .descricao-detalhes {
    font-size: 1.025rem;
    display: inline-block;
    font-weight: 700;
}

.item-detalhes {
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc;
}

.item-detalhes:last-of-type {
    border-bottom: none;
}

.item-detalhes .valor-detalhes {
    text-transform: uppercase;
    font-weight: 700;
    display: block;
}

.item-detalhes.aprovado {
    color: #0acf97;
}

.item-detalhes.reprovado {
    color: #fa5c7c;
}

.item-detalhes.estornado {
    color: #39afd1;
}

.item-detalhes.pendente {
    color: darkred;
}

.carrousel .item .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 450px;
}

.legenda-pagamento {
    display: flex;
}

.legenda-pagamento .item-legenda {
    display: flex;
    margin-right: 20px;
    align-items: center;
}

.legenda-pagamento .item-legenda .icone-legenda {
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 50%;
    margin-right: 5px;
}

.legenda-pagamento .item-legenda .nome-legenda {
    font-weight: bold;
    font-size: 1rem;    
}

.valor-pagar {
    margin: 0 auto 10px;
    display: table;
    color: #666;
}

.valor-pagar span.valor-real {
    font-size: 2.2rem;
    color: inherit;
    font-weight: bold;
    float: left;
    line-height: 1;
}

.valor-pagar sub.valor-centavo {
    font-size: 1.25rem;
    color: inherit;
    float: left;
    margin-top: 4px;
    margin-left: 3px;
    font-weight: bold;
    bottom: -0.5em;
}

.valor-pago {
    margin: 10px auto;
    display: table;
    color: #666;
}

.valor-pago span.valor-real {
    font-size: 1.8rem;
    color: inherit;
    font-weight: bold;
    float: left;
    line-height: 1;
}

.valor-pago .valor-centavo {
    font-size: 1rem;
    color: inherit;
    float: left;
    margin-top: 4px;
    margin-left: 3px;
    font-weight: bold;
    bottom: -0.5em;
}

.info-boleto-reg {
    display: inline-block;
    background: #ea1313;
    color: #fff;
    font-size: .7rem;
    padding: 5px 10px;
    border-radius: 8px;
}
