body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient( rgba(249, 249, 249, 0.66) 0%,rgba(255, 255, 255, 0.66) 100%), url(./../images/fundo-login.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.account-pages {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}