* {
    font-family: sans-serif;
}

body {
    margin-bottom: 70px;
}

ul {
    list-style: none;
}

.select2-container {
    width: 100% !important;
}


.left-side-menu {
    padding: 12px 0 30px;
    background: #333;
}

.side-nav .side-nav-title{
    font-weight: bold;
    color: #fff;
    font-size: 1rem;
}

.side-nav-item i{
    font-size: 22px;
}

.left-side-menu {
    padding-top: 0;
}

.container-logo-dashboard {
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-right: 1px solid #000;
}

.container-logo-dashboard .logo-dashboard {
    max-width: 70%; 
    max-height: 60px;
}

.metismenu{
    border-top:1px solid #ccc;
}

.ajustForm{
    border: 2px solid #dee2e6 !important;
    outline: 0;
    border-radius: 4px;
    padding: 2%;
}

.text-bold {
    font-weight: bold;
}

.btn-outline {
    border-color: currentColor;
}

.boxCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxLoader{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    display: none;
}

.boxLoader #loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid currentColor;
    border-bottom: 16px solid currentColor;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1.5s linear infinite;
    position: absolute;
    top: 0%;
    bottom: 0%;
    margin: auto;
    right: 0;
    left: 0;
}

.invalid-feedback {
    text-align: left;
}

.show-mobile {
    display: none;
}

.flip-front {
    transform: rotateY(0deg);
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}   
}
/* Estilização da menu de ações da dashboard */
#helpers ul.list-call {
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: center;
}

#helpers ul.list-call li {
    width: calc(100% / 3 - 30px);
}

#helpers ul.list-call li a.btn-call{
    cursor : pointer;
    display: block;
    margin-bottom: 5px;
    text-align: center;
    padding-top: 15px;
    border-radius: 5px;
    font-size: 1.125rem;
    font-weight: 700;
    max-width: 100%;
    -webkit-box-shadow: 0 2px 6px 0 rgba(114,124,245,.5);
    box-shadow: 0 2px 6px 0 rgba(114,124,245,.5);
}

#helpers ul.list-call li a span.text-call{
    display: block;
    max-width: 100%;
}

#helpers ul.list-call li a.bg-assistence {
    color:#fff;
    background: #727cf5 !important;
}

#helpers ul.list-call li a.bg-sinistro {
    color:#fff;
    background: #727cf5 !important;
}

#helpers ul.list-call li a.bg-whatsapp {
    color:#fff;
    background: #727cf5 !important;
}

.card-dashboard {
    display:block; 
}

a.item-dependente {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

.card-dependente p {
    margin-bottom: 0.5rem;
}

#listPlano ul li input[type="radio"] {
    display: none;
}

#listPlano ul li label {
    cursor: pointer;
}

#listPlano ul li label span{
    display: block;
    margin-top: 10px;
}

#listPlano ul li input[type="radio"]:checked + label {
    border: 1px solid  #1a72aa;
    background: #1a72aa;
    color: #fff;
    border-radius: 10px;
}

#contentApp {
    display: none;
}


span.status-plano {
    display: table;
    padding: 6px 20px;
    font-size: 1em;
    border-radius: 10px;
    margin-top: 15px;
    float: right;
    font-weight: bold;
    letter-spacing: 0.15rem;
    color: #fff;
}

span.status-plano.inativo { background:  #dc5039;}
span.status-plano.ativo { background: #68AF27; }
span.status-plano.suspenso { background: #e09f4f; }
span.status-plano.ativoemaberto { background:#8b0000; }
span.status-plano.ativocred { background: #62d84e; }
span.status-plano.novo { background: #bcbc8f; }
span.status-plano.ferias { background: #08c; }
span.status-plano.serasa { background: #333; }
span.status-plano.dependente { background: #01454f; }
span.status-plano.trancado { background: silver; }

span.notify-status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2px;
}
span.notify-status.inativo { background:  #dc5039;}
span.notify-status.inativo ~ span {
    color: #dc5039;
}
span.notify-status.ativo { background: #68AF27; }
span.notify-status.ativo ~ span {
    color: #68AF27;
}
span.notify-status.suspenso { background: #e09f4f; }
span.notify-status.suspenso ~ span {
    color: #e09f4f;
}
span.notify-status.ativoemaberto { background:#8b0000; }
span.notify-status.ativoemaberto ~ span {
    color: #8b0000;
}
span.notify-status.ativocred { background: #62d84e; }
span.notify-status.ativocred ~ span {
    color: #62d84e;
}
span.status-plano.novo { background: #bcbc8f; }
span.notify-status.novo ~ span {
    color: #bcbc8f;
}
span.notify-status.ferias { background: #08c; }
span.notify-status.ferias ~ span {
    color: #08c;
}
span.notify-status.serasa { background: #333; }
span.notify-status.serasa ~ span {
    color: #333;
}
span.notify-status.dependente { background: #01454f; }
span.notify-status.dependente ~ span {
    color: #01454f;
}
span.notify-status.trancado { background: silver; }
span.notify-status.trancado ~ span {
    color: silver;
}


.checkbox-status input[type="checkbox"], .checkbox-status input[type="radio"] {
    margin-left: -30000px;
    position: absolute;
}

.checkbox-status label {
    border-bottom: 5px solid #e5e5e5;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 0px;
    cursor: pointer;
    font-weight: bold;
}

.checkbox-status label span.quantidade {
    background-color: #e5e5e5;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}

.checkbox-status.pago input[type="checkbox"]:checked + label {
    border-bottom-color: #0acf97;
}

.checkbox-status.pago input[type="checkbox"]:checked + label span.quantidade {
    background-color: #0acf97;
    color: #fff;
}

.checkbox-status.aberto input[type="checkbox"]:checked + label {
    border-bottom-color: #39afd1;
}

.checkbox-status.aberto input[type="checkbox"]:checked + label span.quantidade {
    background-color: #39afd1;
    color: #fff;
}

.checkbox-status.vencido input[type="checkbox"]:checked + label {
    border-bottom-color: #fa5c7c;
}

.checkbox-status.vencido input[type="checkbox"]:checked + label span.quantidade {
    background-color: #fa5c7c;
    color: #fff;
}

span.status_mens::before {
    content: '';
    display: inline-block;
    margin-right: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

span.status_mens.pago {
    color: #0acf97;
}

span.status_mens.pago::before {
    background-color:  #0acf97;
}

span.status_mens.aberto {
    color: #39afd1;
}

span.status_mens.aberto::before {
    background-color: #39afd1;
}

span.status_mens.vencido {
    color: #fa5c7c;
}

span.status_mens.vencido::before {
    background-color: #fa5c7c;
}

span.parentesco {
    border: 2px solid #727cf5;
    display: inline-block;
    padding: 5px 10px;
    font-size: 1em;
    border-radius: 10px;
    color: #727cf5;
    margin-top: 15px;
    font-weight: bold;
}

.content.top-menu {
    padding-top: 60px;
}

.content.top-menu .navbar-custom {
    position: fixed;
    left: 0;
    top: 0;
    width: calc(100% + 30px);
    z-index: 6;
}

.content.top-menu .navbar-custom .topbar-right-menu {
    display: flex;
    justify-content: flex-end;
}

.navbar-custom .topbar-right-menu li {
    float: none;
    display: inline-block;
}

.navbar-custom .topbar-info {
    margin-left: 250px;
    width: 100%;
    padding-left: 30px;
}


.enlarged .navbar-custom .topbar-info {
    margin-left: 70px;
}

.navbar-custom .icon span {
    font-size: 2rem;
    margin-top: 10px;
    display: block;
}


.navbar-custom .text-empresa {
    margin-top: 15px;
    margin-left: 10px;
}

.navbar-custom .text-empresa p {
    margin-bottom: 0;
}

.navbar-custom .text-empresa p.nome-empresa {
    font-weight: bold;
}

.navbar-custom .text-empresa p.endereco-empresa {
    font-size: 12px;
}

@media(max-width: 768px) {
    .notification-list {
        margin-right: 30px;
    }

    .navbar-custom .topbar-info {
        margin-left: 0;
        padding-left: 0;
    }

    .navbar-custom .text-empresa p.nome-empresa {
        font-size: 11px;
    }

    .navbar-custom .text-empresa p.endereco-empresa {
       display: none;
    }
}

.table-header{
    background: #727cf5;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    margin-top: 15px;
}

.table-footer{
    background: #727cf5;
    color: #fff;
    padding: 10px;
    text-align: right;
    border-radius: 0 0 10px 10px ;
    margin-bottom: 15px;
}


.table-responsive2 {
    width: 100%;
    overflow-x: auto;
}
@media (max-width: 768px) {
    .modal-body button.btn-primary{
        font-size : 11px;
        padding : 11px 5px;
    }

    .profile-user-box{
        text-align : center;
    }

    .table-responsive2 {
        display: block;
    }
}

.card-body h4{
    margin : 0;
}


#helpers{
    text-align:center;
    margin-bottom: 30px;
}

#helpers div.rounded-circle{
    display: inline-block;
}

.card-100 {
    height: 100%;
    width: 100%;
}

#footer-dash {
    position: fixed;
    width: 100%;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    left: 0;
    bottom: 0;
    z-index: 20;
    background: #333;
}

#footer-dash a{
    width : 100%;
    display : block;
    color: #fff;
    line-height:30px;
}

#footer-dash a:hover{
    color: #ebebeb;
}

.menu-perfil-usuario {
    position: relative;
    cursor: pointer;
}

.menu-perfil-usuario:hover {
    background-color: #ccc;
    color: #333;
}

.link-menu-perfil {
    color: #333 !important;
}

.menu-perfil-usuario .tipo-perfil {
    position: absolute;
    background: #fff;
    width: 100%;
    bottom: -90px;
    left: 0;
    border: 1px solid #f1f3fa;
    padding: 5px 10px 0;
    display: none;
    box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
    transition: all .3s ease-in-out;
}

.menu-perfil-usuario.active  .tipo-perfil {
    display: block;
}

a.item-regulamento {
    text-align: center;
}

a.item-regulamento i {
    font-size: 120px;
    color: #db3a3f;
    display: block;
    line-height: 100px;
}

a.item-regulamento span {
    font-size: 16px;
    font-weight: 600;
    display: block;
    color: #000;
}

.img-assinatura {
    height: 40px;
}

.texto-riscado {
    text-decoration: line-through;
}

.card-body-scrollbar {
    max-height: 120px; 
    overflow-y: scroll; 
    scrollbar-width: thin;
}

.filterSearch {
    width: 100%;
}