table#tblProspect {
  font-size: 12px;
  white-space: nowrap;
}

.overflow-hidden {
  overflow: hidden;
}

.container-counter {
  display: flex;
  overflow-x: auto;
  padding-bottom: 20px;
}

.container-counter::-webkit-scrollbar {
  width: 2px;
  height: 3px;
}

.container-counter::-webkit-scrollbar-thumb {
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: #313a46;
}

.container-counter::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #444;
  border-radius: 15px;
}

.counter {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  border-radius: 10px;
  background-color: #ebebeb;
  color: #bbb;
  margin-right: 10px;
  font-weight: bold;
  min-width: 140px;
}

.counter.active {
  color: #444;
  border: 3px solid #313a46;
}

.counter.active.pendente {
  background-color: rgb(211, 211, 73);
}

.counter.active.aguardando {
  background-color: #F0EACF;
}

.counter.active.negociacao {
  background-color: #A3DDEC;
}

.counter.active.orcamento {
  background-color: #0099cc;
}

.counter.active.analise {
  background-color: #5393a8;
}

.counter.active.inativo {
  background-color: #FFB6C1;
}

.counter:hover {
  color: #444;
  filter: saturate(5);
}

.counter .valor-counter {
  font-size: 1.25rem;
}

.counter .valor-counter .valor-real {
  font-size: 1.2em;
}

.counter .valor-counter .valor-centavo {
  bottom: 0.3rem;
  margin-left: -3px;
}

.counter .qtd-counter {
  font-size: 2.2rem;
  font-family: 'Arial Black';
}

.counter .descricao {
  font-size: 0.85rem;
}

.status {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.75rem;
  color: #444;
}

.status.pendente {
  background-color: rgb(211, 211, 73);;
}

.status.aguardando {
  background-color: #F0EACF;
}

.status.negociacao {
  background-color: #A3DDEC;
}

.status.orcamento {
  background-color: #0099cc;
}

.status.analise {
  background-color: #5393a8;
}

.status.inativo {
  background-color: #FFB6C1;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #313a46;
  border-color: #313a46;
}