.container-carrousel {
    padding: 0 70px;
}

.container-carrousel .nav-carrousel {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 8%;
    min-width: 50px;
    max-width: 70px;
    color: #000;
    text-align: center;
    opacity: .8;
    z-index: 2;
    border: none;
    outline: 0;
    box-shadow: none;
    background: transparent;
}

.container-carrousel .nav-carrousel:hover, .nav-carrousel:focus, .nav-carrousel:active{
    outline: 0;
    border: none;
}

.container-carrousel .nav-carrousel i {
    font-size: 3rem;
}

.container-carrousel .nav-carrousel.prev {
    left: 0;
}

.container-carrousel .nav-carrousel.next{
    right: 0;
}


@media(max-width: 492px) {
    .container-carrousel {
        padding: 0 40px;
    }
    .container-carrousel .nav-carrousel {
        min-width: 40px;
    }

    .container-carrousel .nav-carrousel i {
        font-size: 2rem;
    }
}