
.box-autocomplete span, .box-autocomplete input {
    width: 100%;
}

.titulo-autocomplete {
    font-size: 1.125rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    line-height: normal;
}

.box-autocomplete .tt-menu {
    margin: 12px 0;
    padding: 8px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 100%;
}

table#tbPagamentos {
    font-size: 12px;
    white-space: nowrap;
}

#numcredcard {
    padding-left: 60px;
}

#credcard-thumb {
    display: none;
    position: absolute;
    top: 0;
    left: 15px;
    border: 0;
    border-radius: 3px;
    width: 56px;
    height: 37px;
}

#cvc-thumb {
    position: absolute;
    top: 0;
    right: 15px;
    border: 0;
    border-radius: 3px;
    width: 56px;
    height: 37px;
    background: url(../images/numseg.png) no-repeat center center;
}


.bandeira.mastercard, .credcard-thumb.mastercard {
    background: url("../../../../img/card-master.png") no-repeat center center;
    background-size: 100%;
}

.bandeira.visa, .credcard-thumb.visa {
    background: url("../../../../img/card-visa.png") no-repeat center center;
    background-size: 100%;
}

.bandeira.elo, .credcard-thumb.elo {
    background: url("../../../../img/card-elo.png") no-repeat center center;
    background-size: 100%;
}

.bandeira.aura, .credcard-thumb.aura{
    background: url("../../../../img/card-aura.png") no-repeat center center;
    background-size: 100%;
}

.bandeira.amex, .credcard-thumb.amex {
    background: url("../../../../img/card-amex.png") no-repeat center center;
    background-size: 100%;
}


.text-success {
    font-weight: bold;
    color: #0acf97 !important;
}

.text-danger {
    font-weight: bold;
}

.text-secondary {
    font-weight: bold;
    color: #39afd1 !important;
}

.text-warning {
    font-weight: bold;
    color: #ffbc00;
}
