.box-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 2px solid #666;
  margin-bottom: 10px;
}

.round {
  border-radius: 30px;
}

.box-header .car-placa {
  color: #333;
  font-size: 1rem;
 
}

.box-header .car-ano {
  color: #333;
  font-size: 0.875rem;
}

.box-info-cliente {
  margin-bottom: 15px;
  border-bottom: 2px solid #dee2e6;
}

.box-info-cliente .name-cliente,
.box-info-cliente .info-veiculo {
  font-size: 0.825rem;
  color: #666;
}

.box-info-cliente .name-cliente {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: bold;
}

.box-info-cliente .info-veiculo {
  min-height: 40px;
}

.box-steps-pendencias li {
  display: flex;
}

.box-steps-pendencias .name-pendencia {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.box-steps-pendencias .name-pendencia span{
  font-size: 0.75rem;
  color: #333;
  font-weight: bold;
}

.box-steps-pendencias .name-pendencia .line-reticencias,
.box-contratas li .box-name-cobertura .line-reticencias,
.box-total .info-total .line-reticencias {
  flex: 1;
  height: 3px;
  margin-top: 4px;
  background-image: linear-gradient(to right, #313a46 40%, rgba(255, 255, 255, 0) 0%);
  background-size: 7px 3px;
  background-repeat: repeat-x;
  margin-left: 5px;
}

.box-steps-pendencias .box-status-pendencia {
  width: 40px;
  display: flex;
  justify-content: flex-end;
}

.btn-finalizar {
  display: block;
  box-shadow: none !important;
  border-radius: 0;
  font-weight: bold;
}

.box-steps-pendencias .box-status-pendencia i.mdi {
  font-size: 1.4rem;
}

.box-steps-pendencias.line {
    border-bottom: 2px solid #dee2e6;
    margin-bottom: 15px;
}

.box-contratas li {
  display: flex;
  align-items: flex-start;
  padding: 5px 10px;
}

.box-contratas li:nth-child(odd) {
  background-color: #e6e6e6;
}

.box-contratas li .titulo-plano {
  font-weight: bold;
  text-align: center;
  font-size: 0.85rem;
  text-transform: uppercase;
  color: #333;
  width: 100%;
  padding: 10px;
}

.box-contratas li .box-name-cobertura {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.box-contratas li .box-name-cobertura span {
  max-width: 90%;
}

.box-contratas li .box-preco {
  width: 80px;
  display: flex;
  margin-left: 10px;
  justify-content: flex-end;
}

.box-contratas li .box-preco,
.box-contratas li .box-name-cobertura span {
  font-size: 0.875rem;
  color: #333;
  text-transform: uppercase;
}

.box-total {
  display: flex;
  font-weight: bold;
  margin-bottom: 20px;
  background-color: #e6e6e6;
  color: #333;
  padding: 10px;
}

.box-total .info-total {
  display: flex;
  align-items: center;
  flex: 1;
}

.box-total .info-total span {
  text-transform: uppercase;
}

.box-total .valor-total {
  width: 90px;
  margin-left: 10px;
  display: flex;
  justify-content: flex-end;
}

.item-desconto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.item-desconto .box-info-desconto {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.item-desconto .box-info-desconto .info-desconto {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.item-desconto .box-info-desconto .name-desconto {
  text-transform: uppercase;
  flex: 1;
}

.item-desconto .box-info-desconto .editavel {
  color: goldenrod;
  font-size: 10px;
}

.item-desconto .box-info-desconto .info-valor-maximo {
  font-size: .75rem;
  color: #B72F45;
}

.item-desconto .box-info-desconto a.btn-remove-convenio {
  color: #fff;
  font-size: 1.2rem;
  background: #B72F45;
  width: 30px;
  height: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-left: 10px;
}

.item-desconto .box-input {
    width: 120px;
    margin-left: 10px;
}

.item-desconto .box-input .form-group {
  margin-bottom: 0;
}

.item-desconto .box-input .form-group input {
  font-size: 1.125rem;
  font-weight: bold;
  color: #333;
  text-align: right; 
}

.list-items {
  display: flex;
  margin-bottom: 0;
}

.list-items .item {
  margin-right: 15px;
}

.list-items .item .item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 10px 15px;
  color: #fff;
  font-size: 0.875rem;
  line-height: 0.875rem;
}

.list-items .item-link i {
  font-size: 1.5rem;
  margin-right: 5px;
}

.label-file {
  width: 100%
}

.label-file .container-file {
  display: flex;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 15px;
  align-items: center;
}

.container-file .texto-file {
  flex: 1;
  font-weight: normal;
}

.label-file .input-file {
  display: none;
}

.box-autocomplete span, .box-autocomplete input {
    width: 100%;
}

.titulo-autocomplete {
    font-size: 1.125rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    line-height: normal;
}

.box-autocomplete .tt-menu {
    padding: 8px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
}