*{
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none !important;
}
body {
    background: #fff;
    font-size: 48px;
}
body.enlarged {
    min-height: none !important;
}

h3 {
    font-size: 1.5rem;
    color: #000;
    line-height: 1.5;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
}

.d-print-none {
    display: none !important;
}

.d-print {
    display: block !important;
}

.menu-right, .plano-fixo .menu-right {
    height: 100vh !important;
    width: 100%;
    flex: none;
    position: relative !important;
    color: #333;
    background: none;
    overflow-x: hidden;
}

.plano-fixo .menu-right { 
    max-height: none !important;
}
.info-valores-plano {
    background: none !important;
}

.info-valores-plano .tabela-pagamento {
    display: block;
    font-size: 1.125rem;
    padding-top: 5px;
    border-top:  1px solid #000;
}

.info-valores-plano .tabela-pagamento .row {
    margin-bottom: 8px;
}

.info-valores-plano .tabela-pagamento .check {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    display: block;
    margin-right: 10px;
}

.info-valores-plano .container-valor-desconto,
.info-valores-plano .container-valor-adesao,
.info-valores-plano .valor-plano-anual {
    font-size: 1.125rem;
    color: #000;
}

.info-valores-plano .container-valor-adesao > p:first-of-type {
    border-top: none;
    margin-top: -5px;
}

.info-valores-plano .container-valor-desconto > p:first-of-type{
    padding: 5px 0;
    border-top: 1px solid #000;
    color: #000;
}
.info-valores-plano .container-info-veiculo {
    margin-top: 10px;
    border-top: 1px solid #000;
    display: flex;
    align-items: center;
}

.info-valores-plano .info-veiculo {
    display: block;
    margin-top: 5px;
    flex: 0 0 50%;
    max-width: 50%;
    font-size: 1rem;
}

.info-valores-plano .container-fipe {
    text-align: center;
    flex: 0 0 50%;
    max-width: 50%;
}

.info-valores-plano .observacao {
    display: block;
    padding-top: 5px;
    border-top: 1px solid #000;
}

.info-valores-plano .observacao h5 {
    font-size: 1.125rem;
}

.info-valores-plano .assinatura {
    position: absolute;
    bottom: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.125rem;
}

.info-valores-plano .assinatura .linha {
    border-top: 1px solid #000;
    padding-top: 5px;
}

.info-valores-plano .assinatura .linha .titulo-assinatura {
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.info-valores-plano .assinatura .linha .nome-cliente {
    text-align: center;
    display: block;
    margin-top: 2px;
}

.info-valores-plano .container-fipe .info-fipe {
    font-size: 1.125rem;
    font-weight: normal;
    margin-bottom: 8px;
}

.info-valores-plano .container-fipe .info-fipe .valor-fipe {
    font-size: 1.125rem;
    font-weight: bold;
    color: #fff;
    display: block;
}

.info-valores-plano .container-fipe .data-fipe {
    font-size: 0.69rem;
    font-weight: bold;
    color: #B5B9BD;
}


.lista-detalhes-servicos {
    margin: 20px 0;
}

.lista-detalhes-servicos > li {
    border-top: 1px dotted #fff;
    padding: 5px 0;
    font-size: 1.125rem;
}

.lista-detalhes-servicos > li:last-child {
    border-bottom: 1px dotted #fff;
}

.lista-detalhes-servicos .lista-detalhes-item {
    display: flex;
}

.lista-detalhes-servicos .lista-detalhes-item .nome-servico {
    line-height: 33px;
    font-weight: lighter;
}

.lista-detalhes-servicos .lista-detalhes-item .preco {
    display: table;
    font-size: 1.375rem;
    margin-left: auto;
}

.lista-detalhes-servicos .lista-detalhes-item .valor-real {
    float: left;
}

.lista-detalhes-servicos .lista-detalhes-item sub {
    font-size: 0.75rem;
    float: left;
}

.lista-detalhes-servicos .lista-detalhes-item .valor-centavo {
    margin-top: 12px;
    margin-left: 2px;
}

.lista-detalhes-servicos .lista-detalhes-item .mes {
    float: left;
    margin-left: -13px;
    margin-top: 18px;
    font-size: 0.625rem;
}

.lista-detalhes-servicos .lista-adicional,
.lista-detalhes-servicos .lista-coberturas {
    font-size: 0.75rem;
    list-style: disc;
    padding-left: 20px;
    margin-top: 5px;
}

.lista-detalhes-servicos .lista-adicional li,
.lista-detalhes-servicos .lista-coberturas li{
    margin-bottom: 5px;
    text-transform: uppercase;
}

.lista-detalhes-servicos .lista-adicional li .valor {
    text-align: right;
}


.lista-observacoes {
    margin: 20px 0;
    list-style-type: disc;
    padding: 0 15px;
    font-size: 12px;
}

.lista-observacoes li {
    margin-bottom: 5px;
}

.lista-coberturas, .lista-adicional, .lista-observacoes {
    display: block !important;
}

.b-red {
    background: #fff;
}

.data-cotacao {
    text-align: right;
    font-weight: bold;
    margin-top: 10px;
    font-size: 0.8rem;
}

.info-valores-plano .logo-cotacao {
    display: block;
}

.info-valores-plano .logo-cotacao  img{
    position: absolute;
    width: 220px;
    top: 15px;
    left: 15px;
    opacity: 0.7;
}

.info-valores-plano .container-fipe {
    text-align: center;
}

.info-valores-plano .container-fipe .info-fipe {
    font-size: 1.125rem;
    font-weight: normal;
    margin-bottom: 8px;
}

.info-valores-plano .container-fipe .info-fipe .valor-fipe {
    font-size: 1.125rem;
    font-weight: bold;
    color: #fff;
    display: block;
}

.info-valores-plano .container-fipe .data-fipe {
    font-size: 0.69rem;
    font-weight: bold;
    color: #B5B9BD;
}

.info-valores-plano > a {
    display: block;
}

.info-valores-plano a.link-protecao  i.arrow-protecao{
    color: #fff;
    font-size:1.5rem;
}

.info-valores-plano  h4 {
    text-align: center;
    margin-bottom: 0;
    color: #fff;
    margin-top: 15px;
}

.info-valores-plano .container-valor-plano {
    margin: 5px auto;
    display: table;
}

.info-valores-plano .container-valor-plano::after, .card-plano-header .container-valor-plano::before {
    content: '';
    display: table;
    clear: both;
}

.info-valores-plano .container-valor-plano .valor-real {
    font-size: 4.375rem;
    color: #fff;
    font-weight: bold;
    float: left;
}

.info-valores-plano .container-valor-plano .valor-centavo {
    font-size: 1.5rem;
    color: #fff;
    float: left;
    margin-top: 24px;
    margin-left: 5px;
    font-weight: bold;
    bottom: -0.5em;
}

.info-valores-plano .container-valor-plano .mes {
    font-size: 0.625rem;
    color: #fff;
    float: left;
    margin-left: -38px;
    text-transform: uppercase;
    bottom: -5.9em;
}

.info-valores-plano .container-valor-plano .valor-real {
    font-size: 4.375rem;
}

.info-valores-plano .container-valor-plano .valor-centavo {
    font-size: 1.5rem;
    margin-top: 8px;
}

.container-valor-plano .mes {
    font-size: 0.625rem;
    bottom: -4em !important;
}

.info-valores-plano .container-fipe .info-fipe .valor-fipe {
    font-size: 2rem;
}

.info-valores-plano .container-fipe .info-fipe .valor-fipe,
.info-valores-plano .container-fipe .data-fipe,
.info-valores-plano h4,
.info-valores-plano .container-valor-plano .valor-real,
.info-valores-plano .container-valor-plano .valor-centavo,
.info-valores-plano .container-valor-plano .mes
{
    color: #000;
}

.lista-detalhes-servicos > li,
.lista-detalhes-servicos > li:last-child,
.lista-observacoes {
    border-top: 1px solid #000;
}

.lista-observacoes {
    padding-top: 20px;
}

.lista-detalhes-servicos .lista-detalhes-item .nome-servico, .title-consulta {
    font-size: 1rem;
}

.print-titulo {
    display: block;
}

.nome-consultor {
    position: absolute;
    font-size: 1rem;
    right: 16px;
    margin-top: -50px;
}

.lista-detalhes-servicos .lista-adicional, .lista-detalhes-servicos .lista-coberturas {
    margin-top: 20px;
}

#qr-code {
    display: flex;
}

#qr-code .col-8 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#qr-code .item-contato h4 {
    font-size: 2rem;
    color: #333;
    text-align: center;

}

#qr-code .item-contato h6 {
    font-size: 1.8rem;
    text-align: center;
    font-weight: normal;
}

#qr-code .item-contato h5 {
    font-size: 2.2rem;
    text-align: center;
    margin-top: 15px;
}

#qr-code .site {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
    color: #000;
}

#qr-code img {
    max-width: 300px;
}

#rodape-impressao {
    display: block;
    position: absolute;
    bottom: 60px;
    text-align: center;
    width: 100%;
}

#rodape-impressao span {
    text-align: center;
    font-size: 1.275rem;
    font-weight: bold;
}