*{
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none !important;
}
body {
  background: #fff;
  font-size: 48px;
  margin-bottom: 0!important;
}

body.enlarged {
  min-height: none !important;
}

h3 {
  font-size: 1.5rem;
  color: #000;
  line-height: 1.5;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
}

.d-print-none {
  display: none !important;
}

.d-print {
  display: block !important;
}

.no-print {
  display: none;
}

 #app.plano-fixo .menu-right,  
 .fixed-dashboard  #app .menu-right,
 #app.plano-fixo.fixed-menu .menu-right,
 #app.plano-fixo #main .menu-right.h-footer, 
 #app.plano-fixo #main .menu-right.h100,
 #app.plano-fixo #main .menu-right.h-footer {
  position: static !important;
  height: calc(100vh - 100px) !important;
  max-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #333;
  background: #fff !important;
}

.plano-fixo .menu-right { 
  max-height: none !important;
}

.content.top-menu {
  padding-top: 0;
}

#app #main,
.fixed-dashboard #app #main,
#app.plano-fixo.fixed-menu #main {
  margin-top: 0px !important;
}

#app.plano-fixo #main .limite {
  width: 100%;
}

.info-valores-plano .box-valor-plano {
  background: none !important;
}

.info-valores-plano .top-line:before, 
.info-valores-plano .bottom-line:after  {
  display: none;
}

.info-valores-plano .texto,
.info-valores-plano .texto-info,
.info-valores-plano .texto-valor-adesao,
.info-valores-plano .container-info-menu,
.info-valores-plano .texto-valor-mensalidade {
  display: block !important;
  color: #000 !important;
}

.info-valores-plano .parte-cima {
  flex: 1;
}

.info-valores-plano .header-info {
  display: flex;
  justify-content: space-between;
}

.info-valores-plano .logo-cotacao {
  display: block;
  margin: 20px;
}

.info-valores-plano .data-cotacao {
  text-align: right;
  font-weight: bold;
  margin-top: 10px;
  font-size: 0.8rem;
}

.info-valores-plano .print-titulo {
  display: block;
}

.info-valores-plano h3 {
  font-size: 1.5rem;
  color: #000;
  line-height: 1.5;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
}

.info-valores-plano .toggle-menu .texto {
  font-size: 1.5rem;
  margin-bottom: -10px;
}

.info-valores-plano .box-valor-plano { 
  margin-bottom: 0;
}

.info-valores-plano .box-valor-plano .texto-valor-mensalidade {
  font-size: 1.5rem;
}

.info-valores-plano .box-valor-plano .texto-valor-mensalidade span.valor {
  font-size: 3.5rem;
}

.info-valores-plano .box-valor-plano .texto-info,
.info-valores-plano .texto-valor-adesao {
  font-size: 1.2rem;
}

.info-valores-plano .container-info-veiculo {
  margin-top: 10px;
  border-top: 1px solid #000;
  display: flex;
  align-items: center;
}

.info-valores-plano .tabela-pagamento {
  display: block;
  font-size: 1.125rem;
  padding-top: 5px;
  border-top: 1px solid #000;
}

.info-valores-plano .tabela-pagamento .check {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  display: block;
  margin-right: 10px;
}

.info-valores-plano .info-veiculo {
  display: block;
  margin-top: 5px;
  flex: 0 0 50%;
  max-width: 50%;
  font-size: 1rem;
}

.info-valores-plano .box-fipe {
  text-align: center;
  flex: 0 0 50%;
  max-width: 50%;
}

.info-valores-plano .box-fipe .info-fipe {
  font-size: 1.125rem;
  font-weight: normal;
  margin-bottom: 8px;
}

.info-valores-plano .box-fipe .info-fipe .valor-fipe {
  font-size: 2rem;
  display: block;
}

.info-valores-plano .box-fipe .data-fipe {
  font-size: 0.69rem;
  font-weight: bold;
}

.info-valores-plano .duvidas {
  display: none;
}

.lista-detalhes-servicos .lista-detalhes-item {
  margin-top: 10px;
}

.lista-detalhes-servicos > li, .lista-detalhes-servicos > li:last-child, 
.lista-observacoes {
  border-top: 1px solid #000;
  padding: 5px 0;
  font-size: 1.125rem;
}

.info-valores-plano .observacao {
  display: block;
  padding-top: 5px;
  border-top: 1px solid #000;
}

.info-valores-plano .observacao h5 {
  font-size: 1.125rem;
}


.info-valores-plano .assinatura {
  width: 100%;
  display: flex;
  height: 150px;
  justify-content: space-between;
  font-size: 1.125rem;
}

.info-valores-plano .assinatura .linha {
  border-top: 1px solid #000;
  padding-top: 5px;
}

.info-valores-plano .assinatura .linha .titulo-assinatura {
  display: block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.info-valores-plano .assinatura .linha .nome-cliente {
  text-align: center;
  display: block;
  margin-top: 2px;
}
