body {
  background-color: #F8F8F8;
  padding-bottom: 0px !important;
  padding-top: 80px;
  scroll-behavior: smooth;
  font-family: sans-serif;
}

.shadow-2 {
  box-shadow: 0 .1rem 2rem rgba(0,0,0,.7);
}

.rounded-2 {
  border-radius: .9rem;
}

.boxLoader{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999999;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  display: none;
}

@-webkit-keyframes spin {
  0%  {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}
}

.boxLoader #loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid currentColor;
  border-bottom: 16px solid currentColor;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1.5s linear infinite;
  position: absolute;
  top: 0%;
  bottom: 0%;
  margin: auto;
  right: 0;
  left: 0;
}

header {
  height: 80px;
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 3;
  box-shadow: 0 0.1rem 2rem rgb(0 0 0 / 70%);
}

img.logo {
  width: 180px;
  height: auto;
  max-height: 55px;
}

.container-button {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.btn:active,
.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.bg-banner {
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: local;
  height: 80vh;
  width: 100%;
}

.bg-banner .container-btn {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
  padding: 1.5rem 4.5rem;
}

.bg-banner .title {
  font-size: 2rem;
  color: #fff;
  text-shadow: 2px 1px #333;
  line-height: 1.2;
}


.bg-banner .periodo {
  display: flex;
  text-align: left;
  font-size: 1.25rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 1px #333;
  margin-top: 20px;
}

.periodo-body {
  display: none;
}

#info {
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: 50%;
  background-color: #efefef;
  height: 460px;
  width: 100%;
}

#info .titulo {
  font-size: 2rem;
  margin-bottom: 10px;
}

#info .subtitulo {
  font-size: 1.125rem;
  line-height: 24px;
  font-weight: normal;
}

@media(max-width: 991px) {
  #info {
    background-position: 18%;
  }
}

@media(max-width: 767px) {
  .bg-banner .container-btn {
    justify-content: center;
    padding: 1.5rem 0;
  }

  #info {
    background-image: none;
    height: auto;
  }

  #info .box-info {
    margin-top: 20px;
  }

  #info .box-img-md {
    display: flex;
    justify-content: center;
  }
}

#como-funciona .titulo {
  font-size: 2.25rem;
  color: #fff;
}

#como-funciona .descricao {
  font-size: 1.2rem;
}

footer .box-duvidas {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.box-duvidas .titulo {
  position: relative;
  text-transform: uppercase;
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 12px;
  letter-spacing: 1px;
}

.box-duvidas .titulo::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.box-duvidas .box-numero-tel .ddd {
  font-size: 0.75rem;
}

.box-duvidas .box-numero-tel .numero {
  font-size: 1.125rem;
}

.box-duvidas .box-atendimento {
  font-size: 0.625rem;
  text-align: center;
}

.box-info-empresa {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-info-empresa .logo {
  width: 120px;
}

.box-info-empresa .nome-empresa {
  margin-top: 15px;
  font-weight: bold;
  color: #333;
  font-size: 1rem;
  text-transform: uppercase;
}

.box-info-empresa .razao-social,
.box-info-empresa .cnpj {
  margin-top: 2px;
  font-size: 0.75rem;
  line-height: 14px;
}

footer .copy-right {
  display: flex;
  justify-content: center;
  font-size: 0.625rem;
  padding: 6px;
  color: #fff;
}

@media(max-width: 768px) {
  .container-button {
    margin: 0 auto;
  }
  .bg-banner {
    height: 40vh;
  }

  .bg-banner .title{
    font-size: 1.5rem;
  }

  .bg-banner .periodo { 
    display: none;
  }
  
  .periodo-body {
    display: block;
    font-size: 1.125rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 1px #333;
    margin-bottom: 20px;
  }
  
}

.box-card {
  min-height: 280px;
}

.texto-cadastro {
  line-height: 1.5;
  font-size: 1rem;
}

.input-group-icon {
  position: relative;
}

.input-group-icon input {
  padding-right: 30px;
  border-radius: 2rem;
}

input:focus {
  outline: 0;
}

.input-group-icon input::placeholder {
  color: #ccc;
}

span.icon-group {
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 3;
  font-size: 1.1rem;
  color: #ccc;
}

.input-group-icon .form-control.is-valid + span.icon-group {
  color: #28a745;
}

.input-group-icon .form-control.is-invalid + span.icon-group {
  color: #dc3545;
}

.tab-indicator.nav-tabs  {
  width: 100%;
  display: flex;
  border-bottom: none;
}

.tab-indicator.nav-tabs .tab-item {
  flex: 1;
  text-align: left;
  color: #fff;
  margin-bottom: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}


.tab-indicator.nav-tabs .tab-item.active::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 10px;
  width: calc(100% - 20px);
  height: 2px;
  background-color: currentColor;
}

.box-count {
  background: #ebebeb;
  padding: 8px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.box-count span.qtd {
  font-size: 2rem;
  display: block;
  color: #000;
  font-weight: bold;
  line-height: 1;
}

.box-count span.info-text {
    font-size: 0.650rem;
    color: #333;
    display: block;
    font-weight: bold;
    line-height: 1;
}

.box-count.active {
  background-color: #0acf97;
}

.box-count.proactive {
  background-color: #727cf5;
}

.box-count.inactive {
  background-color: #fa5c7c;
}
.box-count.active span.qtd,
.box-count.active span.info-text,
.box-count.inactive span.qtd,
.box-count.inactive span.info-text,
.box-count.proactive span.qtd,
.box-count.proactive span.info-text
{
  color: #fff;
}

.box-no-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 33px;
}

h4.text-no-login {
  text-align: center;
}
.box-no-login .container-icon i {
  font-size: 5rem;
  line-height: 1;
}

.box-list-users .list-users {
  list-style: none;
  padding: 0;
}

.list-users .item-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  background: #ebebeb;
  border-radius: 8px;
  margin-bottom: 10px;
  color: #333;
}

.list-users .item-cupom {
  padding: 10px 15px;
  background: #ebebeb;
  border-radius: 8px;
  margin-bottom: 10px;
}

.list-users .item-cupom .info-cupom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333;
}

.list-users .item-cupom .info-origem {
  display: flex;
  align-items: center;
  margin-top: 5px;
  color: #333;
}

.list-users .item-cupom .info-origem .name-origem {
  font-weight: bold;
  margin-left: 5px;
}



.list-users .item-user.active {
  background-color: #0acf97;
  color: #fff;
}

.list-users .item-user.proactive {
  background-color: #727cf5;
  color: #fff;
}

.list-users .item-user.inactive {
  background-color: #fa5c7c;
  color: #fff;
}

.item-user i, .item-cupom i {
  font-size: 1.125rem;
  line-height: 1;
}

.item-user .name-user,
.item-cupom .name-cupom {
  flex: 1;
  display: block;
  margin-left: 8px;
  font-weight: bold;
}

#myTabContent {
  overflow-y: auto;
  scroll-behavior: smooth;
  max-height: 400px;
}

#myTabContent::-webkit-scrollbar {
  width: 3px;
  height: 2px;
}

#myTabContent::-webkit-scrollbar-thumb {
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: currentColor;
}

#myTabContent::-webkit-scrollbar-track { 
  box-shadow: inset 0 0 2px #444;
  border-radius: 15px;
}