@font-face {
    font-family: 'UniNeue';
    src: url('./../fonts/UniNeueHeavy.ttf'),
         url('./../fonts/UniNeueBlack.ttf'),
         url('./../fonts/UniNeueRegular.ttf'),
         url('./../fonts/UniNeueBold.ttf');
}

*{
    box-sizing: border-box;
    font-family: 'UniNeue';
}

body {
    padding: 0;
    margin: 0;
    background-image: linear-gradient( rgba(249, 249, 249, 0.66) 0%,rgba(255, 255, 255, 0.66) 100%), url(../images/fundo-login.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.container-erro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.container-erro .card-erro {
    max-width: 900px;
    width: 70%;
    background: #fff;
    display: flex;
    padding: 20px;
    -webkit-box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
    box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
    border-radius: .25rem
}
.container-erro .card-erro-info {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}
.container-erro .img-logo-erro {
    height: 80px;
    max-width: 100%;
}
.container-erro  .card-erro-image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.card-erro-info p {
    font-size: 1.2rem;
}