@font-face {
    font-family: 'OpenSans';
    src: url('./../fonts/OpenSans-Regular.ttf'),
         url('./../fonts/OpenSans-Italic.ttf'),
         url('./../fonts/OpenSans-Medium.ttf'),
         url('./../fonts/OpenSans-Bold.ttf');
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.d-print {
    display: none;
}

#app, .swal2-container, .select2-dropdown, .footer-checkout {
    box-sizing: border-box;
    font-family: 'OpenSans';
}

#app {
    font-size: 18px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 184px);
}

.swal2-container, .select2-selection__rendered, .select2-dropdown, .select2-results__option {
    font-size: .875rem;
}

@media(max-width: 576px) {
    #app {
        font-size: 20px;
    }
}

.section.hide {
    display: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.info-consultor {
    width: fit-content;
    margin: -25px auto 0px;
    font-weight: bold;
    background: #7B151A;
    color: #fff;
    padding: 8px 20px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    font-size: 0.75rem;
    text-transform: uppercase;
}


@media(max-width: 576px) { 
    .info-consultor {
        font-size: 0.5rem;
    }
}

body.enlarged {
    min-height: 100vh;
}

.select2-container {
    width: 100% !important;
}

/*.select2-container .select2-selection--single {
    border: none;
    background: none;
    border-bottom: 2px solid #dee2e6;
}*/

.form-group.hide {
    display: none;
    transform: translate3d(-100px, 0, 0);
    transition: .3s;
}

.boxLoader{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    display: none;
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}

.boxLoader #loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid currentColor;
    border-bottom: 16px solid currentColor;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1.5s linear infinite;
    position: absolute;
    top: 0%;
    bottom: 0%;
    margin: auto;
    right: 0;
    left: 0;
}

.line-header {
    width: 100%;
    height: 15px;
}

.btn-amd {
    color: #fff;
    font-weight: bold;
    background-color: #7b151a;
    border-color: #7b151a;
}

.content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.img-logo {
   margin-right: 40px;
}

.img-logo img {
    max-height: 70px;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: center;
    font-weight: normal;
}

h4 {
    font-size: 1.2rem;
    font-weight: bold
}

.form-checkout label {
    font-size: 1.16rem;
    font-weight: bold;
}

.slick-list {
    margin: 0 -10px;
}

.slick-track {
    display: flex;
}

.slick-track .slick-slide {
    display: flex;
    height: auto;
}

.slick-slide {
    margin: 0 10px;
}

.menu-right {
    width: 460px;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.flex-1 {
    flex: 1;
}

.plano-fixo .menu-right {
    position: fixed;
    z-index: 30;
    max-height: 100vh;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.top-menu .plano-fixo .menu-right {
    top: 64px;
}

.plano-fixo .menu-right::-webkit-scrollbar {
    width: 3px;
    height: 2px;
}

.plano-fixo .menu-right::-webkit-scrollbar-thumb {
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background: #ccc;
}

.plano-fixo .menu-right::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px #444;
    border-radius: 15px;
}

/* @media (max-width: 1200px) {
    .plano-fixo .menu-right, .menu-right {
        position: static;
        width: 100%;
        flex: none;
        order: -1;
    }

    .plano-fixo .container-info {
        width: 100%;
        flex: none;
    }

} */

.form-checkout input.form-control, .form-checkout select.form-control, .form-checkout span.select2-selection {
    border: none;
    border-bottom: 2px solid #dee2e6;
    background-color: transparent;
    color: #424242;
}

.form-checkout input.form-control:focus, .form-checkout select.form-control:focus {
    border-bottom-color: #424242;
}

.form-checkout .item-adicional {
    position: relative;
    flex: 1;
}

.form-checkout .item-adicional input.form-control,
.form-checkout .item-adicional select.form-control {
    padding-right: 25px;
}

.form-checkout .item-adicional .btn-adicional {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 15px;
}

.form-checkout .form-group.item-adicional .btn-adicional {
    top: 35px;
    right: 0;
}

.form-checkout .item-adicional .btn-adicional i {
    font-size: 1.56rem;
}

.form-checkout .input-button-container {
    display: flex;
    align-items: center;
}

.form-checkout .input-button-container .input-button {
    margin-left: 15px;
}

.form-checkout .input-button-container .input-button button {
    font-weight: 100;
}

.form-checkout .input-button-container .item-adicional .btn-adicional {
    right: 0;
}

.form-checkout .form-control.is-invalid, .form-checkout .form-control.is-invalid ~ span.select2-container span.select2-selection {
    border-color: #dc3545 !important;
}

@media(max-width: 978px) {
    input[data-switch]+label {
        width: 74px;
        height: 36px;
    }
    input[data-switch]+label:before {
        font-size: .85rem;
        line-height: 36px;
    }

    input[data-switch]+label:after {
        height: 27px;
        width: 27px;
        top: 4px;
    }

    input[data-switch]:checked+label:after {
        left: 40px;
    }
    
}

@media(max-width: 576px) { 
    .form-checkout {
        text-align: center;
    }

    .form-checkout .form-control, 
    .form-checkout span.select2-selection,
    .form-checkout span.select2-selection__rendered {
        text-align: center;
        font-size: 1.2rem;
    }
}

.btn-next {
    color: #fff;
    font-weight: bold;
    border-radius: 25px;
    padding: 10px 25px;
}

.btn-prev {
    font-weight: bold;
    font-size: 1rem;
}

.btn-acao-cotacao {
    background: #fff;
    font-weight: bold;
}

.footer-checkout {
    background: #E8E8E8;
    width: 100%;
    font-size: 0.875rem;
    margin-right: 0;
    margin-left: 0;
}

.footer-checkout .brand {
    width: 40px;
    margin-right: 8px;
    border-radius: 4px;
}

.footer-checkout p {
    margin-bottom: 5px;
}

#numcredcard {
    padding-left: 60px;
}

#cvc-thumb {
    position: absolute;
    top: 0px;
    right: 15px;
    border: 0;
    border-radius: 3px;
    width: 56px;
    height: 37px;
}

.prepend {
    position: absolute;
    top: 30px;
    left: 0;
    border: 0;
}

.credcard-thumb {
    display: block;
    width: 56px;
    height: 37px;
    border-radius: 3px;
}

.credcard-thumb.visa {
    background: url("../../../../img/card-visa.png") no-repeat center center;
    background-size: 100%;
}
.credcard-thumb.mastercard {
    background: url("../../../../img/card-master.png") no-repeat center center;
    background-size: 100%;
}
.credcard-thumb.amex {
    background: url("../../../../img/card-amex.png") no-repeat center center;
    background-size: 100%;
}
.credcard-thumb.maestro {
    background: url("../../../../img/card-maestro.png") no-repeat center center;
    background-size: 100%;
}
.credcard-thumb.discover {
    background: url("../../../../img/card-discover.png") no-repeat center center;
    background-size: 100%;
}
.credcard-thumb.diners_club_international {
    background: url("../../../../img/card-diners.png") no-repeat center center;
    background-size: 100%;
}
.credcard-thumb.diners_club_carte_blanche {
    background: url("../../../../img/card-diners.png") no-repeat center center;
    background-size: 100%;
}

/**********************************************************************************************************************/
/*                                                              STEPS                                                 */
/**********************************************************************************************************************/

.horizontal-steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    padding-bottom: 1.5rem;
    margin-bottom: 0.75rem;
    margin-top: 1.5rem;
}

.horizontal-steps:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: .15em;
    background-color: #e3eaef;
}

.horizontal-steps .horizontal-steps-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.horizontal-steps .horizontal-steps-content .step-item:first-child {
    margin-left: 0;
}

.horizontal-steps .horizontal-steps-content .step-item {
    display: block;
    position: relative;
    bottom: calc(100% + 1em);
    height: 8px;
    width: 8px;
    margin: 0 2em;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background-color: currentColor;
    border: .25em solid #fafbfe;
    border-radius: 50%;
    z-index: 5;
}

.horizontal-steps .horizontal-steps-content .step-item:last-child {
    margin-right: 0;
    color: #0acf97;
}

.horizontal-steps .horizontal-steps-content .step-item span {
    position: absolute;
    top: calc(100% + 0.5em);
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 0.8rem;
}

@media(max-width: 768px) {
    .horizontal-steps .horizontal-steps-content .step-item span {
        font-size: 0.625rem;
    }
    .horizontal-steps .horizontal-steps-content .step-item {
        margin: 0 0.5em;
    }
}

.horizontal-steps .horizontal-steps-content .step-item.current:before {
    content: '';
    display: block;
    position: absolute;
    top: 47.5%;
    left: 51%;
    padding: 1em;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 0;
    z-index: -1;
    -webkit-animation-name: animation-steps-current;
    animation-name: animation-steps-current;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}

.horizontal-steps .process-line {
    display: block;
    position: absolute;
    width: 50%;
    height: .15em;
}

@keyframes animation-steps-current {
    from {
        -webkit-transform:translate(-50%,-50%) scale(0);
        transform:translate(-50%,-50%) scale(0);
        opacity:1
    }
    to {
        -webkit-transform:translate(-50%,-50%) scale(1);
        transform:translate(-50%,-50%) scale(1);
        opacity:0
    }
}

/*********************************************************************************************************************/
/*                                                    Produto Parte                                                  */  
/*********************************************************************************************************************/
span.icon-required + p {
    display: inline;
}

.pricing-card-title {
    color: #000;
}

.pricing-card-title .container-valor-plano {
    margin: 0 auto;
    display: table;
}

.pricing-card-title .container-valor-plano::after, .pricing-card-title .container-valor-plano::before {
    content: '';
    display: table;
    clear: both;
}

.pricing-card-title .container-valor-plano .valor-real {
    font-size: 3.5rem;
    color: inherit;
    font-weight: bold;
    float: left;
    line-height: 1;
    text-shadow: 2px 2px 4px #000;
}

.pricing-card-title .container-valor-plano .valor-centavo {
    font-size: 2.125rem;
    color: inherit;
    float: left;
    margin-top: -2px;
    margin-left: 5px;
    font-weight: bold;
    bottom: -0.5em;
    text-shadow: 2px 2px 4px #000;
}

.pricing-card-title .container-valor-plano .mes {
    font-size: 1.16rem;
    line-height: 1;
    color: inherit;
    float: right;
    margin-left: -37px;
    text-transform: uppercase;
    bottom: -2em;
    text-align: left;
    text-shadow: 2px 2px 4px #000;
}

.pricing-card-title .container-valor-plano.inclui-dependente .mes {
    font-size: 0.8rem;
    bottom: -3em;
}

#info-prorata .alert {
    font-size: 1rem;
}

.btn-seleciona {
    font-size: 1rem;
    text-transform: uppercase;
}
    
.card-produto .texto-descricao {
    height: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-plano-item .card-header {
    background: #7b151a;
    color: #fff;
}

.card-plano-item h5.card-title {
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
}

.card-plano-item .container-valor-plano {
    position: relative;
    display: table;
    margin: 0 auto 10px;
}

.card-plano-item .container-valor-plano::after, .card-plano-item .container-valor-plano::before {
    clear: both;
    content: '';
    display: table;
}

.card-plano-item span.valor-real {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1;
    float: left;
}

.card-plano-item sub.valor-centavo {
    font-size: 1.25rem;
    color: inherit;
    float: left;
    margin-top: 0px;
    margin-left: 3px;
    font-weight: bold;
    bottom: -0.5em;
}

.card-plano-item sub.mes {
    font-size: 0.725rem;
    line-height: 1;
    color: inherit;
    float: right;
    margin-left: -27px;
    text-transform: uppercase;
    bottom: -2.1em;
    text-align: left;
}

.card-plano-item .valor-plano-anual {
    text-align: center;
    margin-top: 10px;
    font-size: 0.875rem;
}

.card-plano-item .card-body ul li {
    display: flex;
    align-items: flex-start;
    border: none;
    color: #747474;
    font-size: 0.72rem;
    margin-bottom: -1px;
    height: auto;
    padding: 8px 15px 8px 30px;
    text-transform: uppercase;
}

.card-plano-item .card-body ul li::before {
    content: '\F5E0';
    font-family: 'Material Design Icons';
    margin-left: -15px;
    font-size: 1.2rem;
    margin-right: 6px;
    color: #1ABE29;
    margin-top: -5px;
}

.card-plano-item .card-body ul li:nth-of-type(2n) {
    background: #E6E6E6;
}

.card-plano-item.active button.btn.btn-plano {
    background: #7b151a;
}

.card-plano-item button.btn.btn-plano {
    color: #fff;
    background: #db3a3f;
    font-weight: bold;
    text-transform: uppercase;
}

/**********************************************************************************************************************/
/*                                                    Segunda Parte                                                   */
/**********************************************************************************************************************/

.card-plano {
    border: 1px solid #AFB0B2;
    border-top-left-radius: 40px;
    position: relative;
    height: 100%;
}

.card-plano.recomendado::before {
    content: 'recomendado!!!';
    font-size: 0.625rem;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    right: 15px;
    top: -20px;
    color: #fff;
    background: #7C1519;
    padding: 8px 25px;
}

.card-plano .card-plano-header {
    background: #DB3A3F;
    padding: 8px 20px;
    text-align: center;
    border-top-left-radius: 40px;
}

.card-plano-header .container-valor-plano {
    margin: 0 auto;
    display: table;
}

.card-plano-header .container-valor-plano::after, .card-plano-header .container-valor-plano::before {
    content: '';
    display: table;
    clear: both;
}

.card-plano .card-plano-header .valor-real {
    font-size: 3.125rem;
    color: #fff;
    font-weight: bold;
    float: left;
}

.card-plano .card-plano-header .valor-centavo {
    font-size: 1.25rem;
    color: #fff;
    float: left;
    margin-top: 20px;
    margin-left: 5px;
    font-weight: bold;
    bottom: -0.5em;
}

.card-plano .card-plano-header .mes {
    font-size: 0.75rem;
    color: #fff;
    float: left;
    margin-left: -23px;
    text-transform: uppercase;
    bottom: -4.25em;
}

.card-plano .card-plano-body {
    padding: 20px;
    position: relative;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    height: calc(100% - 91px);
}

.card-plano .card-plano-body .card-plano-title {
    width: calc(100% - 40px);
    font-size: 0.75rem;
    text-transform: uppercase;
    padding: 7px;
    font-weight: bold;
    background: #F98085;
    color: #fff;
    text-align: center;
    position: absolute;
    top: -18px;
}

.card-plano .card-plano-body ul.card-plano-lista {
    padding: 5px 0;
    text-transform: uppercase;
}

.card-plano .card-plano-body ul.card-plano-lista li {
    margin-top: 5px;
}

.card-plano .card-plano-body ul.card-plano-lista li.riscado {
    text-decoration: line-through;
    color: #C4C5C8;
}

.card-plano .card-plano-body .plano-adesao {
    border-top: 1px dashed #666;
    padding-top: 10px;
    text-align: center;
}

.card-plano .card-plano-body .plano-adesao h3 {
    font-size: 1.25rem;
    color: #6c757d;
    margin-bottom: 0;
}

.card-plano .card-plano-body .plano-adesao .valor-plano-adesao {
    font-size: 2rem;
    color: #000;
    font-weight: bold;
}

.card-plano .card-plano-body .card-plano-button {
    margin-top: 20px;
}

.card-plano .card-plano-body .card-plano-button button {
    display: block;
    padding: 8px 0;
    text-transform: uppercase;
    border: 1px solid #AFB0B2;
    background: #F98085;
    color: #fff;
    width: calc(100% - 40px);
    margin: 0 auto;
    border-radius: 20px;
}

.lista-item-planos {
    display: none;
}

.container-coberturas {
    display: flex;
}

.container-coberturas  > .container-servicos {
    flex: 1;
}

.container-coberturas > .container-servicos .title-servicos {
    margin-top: 94px;
    margin-left: 10px;
    text-transform: uppercase;
}

.container-coberturas .container-items-plano .item-plano {
    max-width: 230px;
    flex-grow: 1;
}

.container-coberturas ul.lista-item-cobertura {
    list-style: none;
}

ul.lista-item-cobertura li {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    color: #747474;
    font-size: 0.75rem;
    margin-bottom: -1px;
    height: 42px;
    padding: 10px 15px;
}

ul.lista-item-cobertura li:nth-of-type(2n) {
    background: #E6E6E6;
}


.container-coberturas .container-items-plano {
    min-width: 460px;
    width: 30%;
    display: flex;
}

.container-coberturas  .container-items-plano .item-plano {
    margin-left: -1px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.container-items-plano .item-plano .header-item-plano {
    color: #fff;
    padding: 10px;
    text-align: center;
    border-left: 1px solid #ccc;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-items-plano .item-plano:first-of-type .header-item-plano {
    border-top-left-radius: 15px;
}

.container-items-plano .item-plano:last-of-type .header-item-plano {
    border-top-right-radius: 15px;
}


.container-items-plano .item-plano .header-item-plano .title-item-plano {
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: dashed 1px #9a9493;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.container-items-plano .item-plano.personalizado .header-item-plano .title-item-plano {
    border-bottom: 0;
    padding-bottom: 0;
}

.container-items-plano .item-plano .header-item-plano .container-valor-plano {
    margin: 6px auto;
    display: table;
}

.container-items-plano .item-plano .header-item-plano .container-valor-plano .valor-real {
    font-size: 2.25rem;
    font-weight: bold;
    float: left;
    line-height: 1;
}

.container-items-plano .item-plano .header-item-plano .container-valor-plano .valor-centavo {
    float: left;
    margin-top: 7px;
    margin-left: 5px;
    font-weight: bold;
    bottom: -3px;
    font-size: 1.125rem;
}

.container-items-plano .item-plano .header-item-plano .container-valor-plano .mes {
    float: left;
    margin-left: -24px;
    text-transform: uppercase;
    bottom: -26px;
    font-size: 0.5rem;
    letter-spacing: 1px;
}

.container-items-plano .item-plano .header-item-plano .valor-plano-anual {
    font-size: 0.625rem;
}

.container-items-plano .descricao-personalizada {
    border: 1px solid #ccc;
    border-bottom: 0;
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-items-plano .descricao-personalizada h6 {
    font-size: 1.3rem;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 2.5;
    text-align: center;
    padding: 10px;
}

.container-items-plano .item-plano .lista-item-cobertura {
    width: 100%;
    margin-top: 0;
}

.container-items-plano .item-plano .lista-item-cobertura li {
    justify-content: center;
}

.container-items-plano .item-plano .lista-item-cobertura li:first-of-type,
.container-items-plano .item-plano .lista-item-cobertura li:last-of-type {
    border-radius: 0;
}

.container-items-plano .item-plano .lista-item-cobertura i {
    font-size: 2rem;
    line-height: 1;
}

.lista-item-cobertura i.include {
    color: #1ABE29;
}

.lista-item-cobertura i.no-include {
    color: #E50101;
}

.container-items-plano .item-plano .footer-item-plano {
    border: 1px solid #ccc;
    text-align: center
}

.container-items-plano .item-plano:first-of-type .footer-item-plano {
    border-bottom-left-radius: 15px;
}

.container-items-plano .item-plano:last-of-type .footer-item-plano {
    border-bottom-right-radius: 15px;
}

.container-items-plano .item-plano .footer-item-plano .btn-plano {
    font-size: 0.75rem;
    color: #fff;
    padding: 5px 15px;
    border-radius: 20px;
    text-transform: uppercase;
    margin: 10px auto;
    font-weight: 600;
}

@media(max-width: 991px) {
    .lista-item-planos {
        display: block;
        border-radius: 15px;
        font-size: 0.875rem;
        max-width: 200px;
        margin-right: 30px;
    }

    .lista-item-planos li {
        margin-bottom: 10px
    }

    .lista-item-planos li a {
        display: block;
        text-align: center;
        padding: 8px 10px;
        font-weight: bold;
        border-radius: 15px;
    }

    .lista-item-planos a.active {
        color: #fff;
    }

    .container-coberturas > .container-servicos .title-servicos {
        margin-top: 16px;
    }

    .container-coberturas {
        width: 100%;
    }

    ul.lista-item-cobertura li {
        height: 60px;
    }

    .container-coberturas .container-items-plano {
        width: 30%;
        min-width: 140px;
    }

    .container-coberturas .container-items-plano .item-plano {
        width: 100%
    }

    .container-coberturas .container-items-plano .item-plano {
        display: none;
    }

    .container-coberturas .container-items-plano .item-plano.active {
        display: flex;
    }

    .container-items-plano .item-plano .header-item-plano {
        height: 130px;
    }

    .container-items-plano .item-plano.active .header-item-plano {
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }

    .container-items-plano .item-plano.personalizado .header-item-plano .title-item-plano {
        font-size: 0.75rem;
    }

    .container-items-plano .descricao-personalizada h6 {
        font-size: 1rem;
    }

    .container-items-plano .item-plano.active .footer-item-plano {
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }
}

@media(max-width: 576px) {
    .container-coberturas > .container-servicos .title-servicos {
        margin-top: 24px;
    }

    ul.lista-item-cobertura li {
        height: 80px;
    }
}

.titulo {
    text-transform: uppercase;
    font-size: 1.5rem;
}

.subtitulo {
    font-size: 1.16rem;
}

.name-service {
    font-weight: bold;
    margin-right: 5px;
}

.list-services li {
    margin-bottom: 10px;
}

.img-final {
    margin: 30px auto;
    display: block;
} 

/********************************************************************************************************
*                                    Terceira Parte                                                     *
 *******************************************************************************************************/
  #hero-saudacao {
    display: flex;
  }

  #hero-saudacao .box-saudacao {
    width: calc(100% - 250px);
    text-align: right;
  }

 .saudacao {
    font-size: 1.75rem;
    text-align: right;
    color: #333;
}

.saudacao .title-saudacao {
    font-size: 1.25rem;
    font-weight: bold;
}


 .texto-saudacao {
    font-size: 0.875rem;
    color: #666;
}

.item-acessorio {
    border: 1px solid #dee2e6;
    margin-top: -1px;
    display: flex;
    align-items: center;
}

.item-acessorio:nth-of-type(2n) {
    background: #f2f2f2;
}

.title-plano {
    font-size: 1.25rem;
}

.item-acessorio .box-descricao {
    text-align: right;
    border-right: 1px solid #dee2e6;
    font-size: 0.875rem;
    padding: 1.5rem;
    color: #666;
    flex: 1;
}

.item-acessorio .box-descricao ul {
    list-style-type: disc;
    direction: rtl;    
    text-align: right;
}

.item-acessorio .box-item-checkbox {
    padding: 1.5rem;
    width: 250px;
}


.item-acessorio .box-item-checkbox .box-checkbox {
    display: flex;
    align-items: center;
}

.item-acessorio .box-item-checkbox .item-checkbox {
    margin-right: 10px;
}

.item-acessorio .box-item-checkbox .item-checkbox-descricao {
    font-size: 0.75rem;
    line-height: 1;
    margin-bottom: 3px;
}

.item-acessorio.agrupa-item {
    flex-direction: column;
    padding: 1.5rem 0;
}

.item-acessorio.agrupa-item .item-acessorio-header {
    display: flex;
    width: 100%;
}

.item-acessorio.agrupa-item .content-acessorio {
    width: 100%;
}

.item-acessorio.agrupa-item  .box-descricao,  
.item-acessorio.agrupa-item .box-item-checkbox {
    
    padding: 0px 1.5rem;
}

.item-acessorio.agrupa-item .box-descricao.sem-border {
    margin-right: 6px;
}


.cobertura-header {
    background: #F7F7F7;
}
.cobertura-header h2 {
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 15px;
}

.cobertura-header h4 {
    display: table;
    margin: 5px auto;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
}

.cobertura-body {
    background: #EFEFEF;
}
.action-service {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

input[data-switch]:checked+label {
    background-color: #0acf97;
}

input[data-switch=bool]+label {
    background-color: #bec0c1;
    margin-bottom: 0;
}

.cobertura-body .list-coberturas.assistencia > li {
    margin-bottom: 20px;
}

.cobertura-body .list-coberturas.assistencia > li > ul {
    margin-top: 10px;
}

.cobertura-body .list-coberturas li h6 {
    font-size: 1rem;
    color: #666;
}

#info-produto {
    position: relative;
}

#info-produto #btn-voltar-produtos {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 1rem;
    font-weight: bold;
}

#info-produto .data-vencimento {
    border-top: 1px solid rgba(108,117,125,.5);
    border-bottom: 1px solid rgba(108,117,125,.5);
}


.info-valores-plano, 
.lista-dependente {
    color: #fff;
    right: 0;
    top: 0;
    position: static;
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.info-valores-plano .nome-consultor,
.info-valores-plano .tabela-pagamento,
.info-valores-plano .observacao,
.info-valores-plano .assinatura,
.info-veiculo, #rodape-impressao,
.data-cotacao, #qr-code {
    display: none;
}

.info-valores-plano .logo-cotacao {
    margin: 30px auto 20px;
    display: none;
}

.info-valores-plano .logo-cotacao img {
    max-width: 100%;
    height: 65px;
    display: block !important;
    margin: 0 auto;
}

.info-valores-plano .toggle-menu .texto {
    font-size: 1rem;
    margin-bottom: 0.375rem;
    margin-top: 0.75rem;
}

.info-valores-plano .box-valor-plano {
    border-radius: 20px;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
}

.info-valores-plano .box-valor-plano .texto-valor-mensalidade {
    font-size: 1.2rem;
}

.info-valores-plano .box-valor-plano .texto-valor-mensalidade span.valor {
    font-size: 2.8rem;
    font-weight: bold;
}

.info-valores-plano .box-valor-plano .texto-info {
    font-size: 0.875rem;
}

.info-valores-plano .texto-valor-adesao {
    text-align: center;
    font-size: 0.875rem;
}

.info-valores-plano .box-fipe {
    text-align: center;
    margin-top: 15px;
}

.info-valores-plano .box-fipe p {
    margin-bottom: 0;
    font-size: 0.875rem;
}

.info-valores-plano .box-fipe span.valor-fipe {
    margin-left: 5px;
    font-size: 1rem;
    font-weight: bold;
}

.info-valores-plano .top-line:before, 
.info-valores-plano .bottom-line:after  {
    content: '';
    display: block;
    width: 70%;
    height: 0.5px;
    margin: 14px auto;
    background-color: #fff;
}


.info-valores-plano .container-fipe {
    text-align: center;
    padding: 10px 0;
    border-top: 1px dashed #fff;
}

.info-valores-plano .container-fipe .info-fipe {
    font-weight: normal;
    margin-bottom: 2px;
    line-height: 1.2;
}

.info-valores-plano .container-fipe .info-fipe .valor-fipe {
    font-weight: bold;
    color: #fff;
    margin-left: 6px;
}

.info-valores-plano .container-fipe .data-fipe {
    color: #ffffff;
    margin-bottom: -10px;
    line-height: 1.2;
}

.info-valores-plano > a {
    display: block;
}

.info-valores-plano a.link-protecao  i.arrow-protecao{
    color: #fff;
    font-size:1.5rem;
}

.info-valores-plano  h4 {
    text-align: center;
    color: #fff;
    margin-top: 15px;
}

.info-valores-plano .nome-produto {
    padding: 8px;
    text-align: center;
    border-top: 1px dashed;
    border-bottom: 1px dashed;
    font-weight: bold;
    text-transform: uppercase;
}

.info-valores-plano .container-valor-adesao,
.info-valores-plano .container-valor-desconto,
.info-valores-plano .taxa-vistoria {
    color: #fff;
    text-align: center;
    font-size: 0.9rem;
    padding-bottom: 5px;
}

.container-valor-adesao span.adesao{
    margin-left: 10px;
    font-weight: bold;
}

.info-valores-plano .container-valor-desconto .preco.valor-adesao{
    margin: 0 auto;
}

.info-valores-plano .container-valor-desconto > p:first-of-type{
    padding: 5px 0;
    border-top: 1px dashed #fff;
}

.info-valores-plano .container-valor-plano {
    margin: 0 auto;
    display: table;
}

.info-valores-plano .container-valor-plano::after, .card-plano-header .container-valor-plano::before {
    content: '';
    display: table;
    clear: both;
}

.info-valores-plano .container-valor-plano .valor-real {
    font-size: 3.8rem;
    color: #fff;
    font-weight: bold;
    float: left;
    line-height: 1;
}

.info-valores-plano .container-valor-plano .valor-centavo {
    font-size: 1.5rem;
    color: #fff;
    float: left;
    margin-top: 7px;
    margin-left: 5px;
    font-weight: bold;
    bottom: -0.5em;
}

.info-valores-plano .container-valor-plano .mes {
    font-size: 0.625rem;
    color: #fff;
    line-height: 1;
    float: left;
    margin-left: -38px;
    text-transform: uppercase;
    bottom: -3.4em;
}

.info-valores-plano .valor-plano-anual {
    margin-top: 5px;
    text-align: center;
    color: #fff;
    margin-bottom: 0.7rem
}

.info-valores-plano .detalhes {
    margin: 10px 0 15px;
}

.info-valores-plano .detalhes p {
    margin-bottom: 0px;
}

.info-valores-plano .form-cupom {
    margin-top: 20px;
}

.info-valores-plano .form-cupom .msg-cupom {
    font-size: 0.875rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.info-valores-plano .form-cupom label {
    font-size: 0.875rem;
}

.info-valores-plano .form-cupom .form-control {
    border: none;
    border-bottom: 2px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
}

.info-valores-plano .container-check {
    align-items: center;
    display: flex;
}

.info-valores-plano .check {
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
    display: block;
    border-radius: 50%;
    position: relative;
}

.info-valores-plano .check.active::after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    background: #fff;
    top: 3px;
    left: 3px;
}

.info-valores-plano .form-cupom .form-control.is-invalid, .info-valores-plano .form-cupom .form-control.is-invalid ~ span.select2-container span.select2-selection {
    border-color: #ffbc00 !important;
}

.info-valores-plano .form-cupom .invalid-feedback {
    color: #ffbc00;
}

.info-valores-plano .form-cupom button {
    font-weight: 600;
    background: #fff;
}

.lista-detalhes-servicos {
    margin: 20px 0;
    
}

.lista-detalhes-servicos > li {
    padding: 5px 0;
    font-size: 1.125rem;
}

.lista-detalhes-servicos .lista-detalhes-item {
    display: flex;
    font-size: 1.125rem;
    font-weight: bold;
    margin-top: 1.5rem;
}

.lista-detalhes-servicos .lista-detalhes-item .nome-servico {
    text-decoration: underline;
}

.lista-detalhes-servicos .lista-detalhes-item .preco, .preco.valor-adesao {
    display: table;
    margin-left: auto;
}

.lista-detalhes-servicos .mensagem-lado {
    font-size: 0.75rem;
}

.lista-detalhes-servicos .mensagem-lado ul {
    list-style: disc;
    padding-left: 20px;
}

.lista-detalhes-servicos .lista-detalhes-item .valor-real,  .preco.valor-adesao .valor-real {
    float: left;
}

.lista-detalhes-servicos .lista-detalhes-item sub,  .preco.valor-adesao sub {
    font-size: 0.75rem;
    float: left;
}

.lista-detalhes-servicos .lista-detalhes-item .valor-centavo, .preco.valor-adesao .valor-centavo {
    margin-top: 12px;
    margin-left: 2px;
}

.lista-detalhes-servicos .lista-detalhes-item .mes, .preco.valor-adesao .mes {
    float: left;
    margin-left: -13px;
    margin-top: 18px;
    font-size: 0.625rem;
}

.lista-detalhes-servicos .lista-adicional,
.lista-detalhes-servicos .lista-coberturas,
.info-valores-plano .regulamento  
{
    font-size: 0.75rem;
    list-style: disc;
    padding-left: 20px;
    margin-top: 5px;
}

.lista-detalhes-servicos .lista-adicional li,
.lista-detalhes-servicos .lista-coberturas li{
    text-transform: uppercase;
}

.lista-detalhes-servicos .lista-adicional li .valor {
    text-align: right;
}

.info-valores-plano .duvidas {
    margin-top: 30px;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
}

.info-valores-plano .duvidas .num-telefone {
    font-size: 1.25rem;
    color: #fff;
}

.lista-observacoes {
    margin: 20px 0;
    list-style-type: disc;
    padding: 0 15px;
    font-size: 12px;
}

.lista-observacoes li {
    margin-bottom: 5px;
}

.custom-accordion {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.custom-accordion .accordion-titulo {
    font-size: 1.4rem;
}

.custom-accordion .accordion-arrow {
    font-size: 1.5rem;
}

.custom-accordion  > li:nth-of-type(odd) {
    background: #fff;
}

.b-red {
    background: #7B151A;
}

@media(max-width: 991px) {

    .info-valores-plano h4 {
        font-size: 0.875rem;
        margin-bottom: 5px;
    }

    .info-valores-plano .container-valor-plano {
        margin-bottom: 10px;
    }

    .info-valores-plano .container-valor-plano .valor-real {
        font-size: 1.875rem;
        line-height: initial;
    }

    .info-valores-plano .container-valor-plano .valor-centavo {
        font-size: 0.875rem;
        margin-top: 4px;
        margin-left: 5px;
        bottom: -0.5em;
    }

    .info-valores-plano .container-valor-plano .mes {
        font-size: 0.44rem;
        margin-left: -25px;
        bottom: -3.3em;
    }

    .lista-detalhes-servicos {
        margin: 5px 0;
    }

    .lista-detalhes-servicos .lista-detalhes-item .nome-servico {
        line-height: 1.2;
    }

    .lista-detalhes-servicos .lista-detalhes-item .preco {
        font-size: 1rem;
    }

    .lista-detalhes-servicos .lista-detalhes-item .valor-centavo {
        margin-top: 6px;
        margin-left: 2px;
    }

    .lista-detalhes-servicos .lista-detalhes-item sub {
        font-size: 0.625rem;
    }
}

@media(max-width: 768px) {
    .valor-fipe {
        margin: 10px auto !important;
        max-width: 150px;
    }

}

/***********************************************************************************************************************
*                                                  Quarta Parte                                                        *
***********************************************************************************************************************/
.custom-checkbox label {
    font-size: .875rem;
    color: #424242 !important;
}

#accordionContratacao {
    background: #fff;
}

.container-info {
    background: #fff;
    flex: 1;

}

#form-contratacao h5 {
    margin-bottom: 20px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
    font-size: 1.3rem;
}

.separador-pagamento {
    border-left:  1px solid #ccc;
}

.forma-pagamento h4, .tipo-pagamento h4 {
    margin-bottom: 20px;
}

.info-ordem {
    padding-bottom: 15px;
}

.info-ordem::after {
    content: '';
    width: 30px;
    height: 4px;
    display: block;
    background: #7B151A;
    margin-top: 10px;
}

.info-ordem .info-ordem-titulo {
    font-size: 1rem;
    font-weight: bold;
    color: #aaa;
    display: block;
    margin-bottom: 5px;
}

.info-ordem .info-ordem-numero, .info-ordem .info-ordem-valor {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    display: block;
}

.info-prorata.active {
    font-size: 0.8rem;
    line-height: 1rem;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 0;
}

.lista-forma-pagamento {
    margin-top: 15px;
    border: 1px solid #ccc;
}

.lista-forma-pagamento li {
    border-bottom: 1px solid #ccc;
}

.lista-forma-pagamento li:last-child {
    border-bottom: none;
}

.lista-forma-pagamento .link-pagamento {
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    display: flex;
}

.lista-forma-pagamento .link-pagamento.active {
    background: #7b151a;
    color: #fff;
}

.lista-forma-pagamento .link-pagamento .col-icone {
    font-size: 1.875rem;
    margin-right: 15px;
}

.link-pagamento .info-tipo-pagamento-titulo {
    font-weight: bold;
}

.link-pagamento .info-tipo-pagamento-subtitulo {
    font-size: 0.875rem;
    color: #ababab;
}

.print-titulo {
    display: none;
}

.form-cartao label, .form-cartao1 label {
    font-size: 1rem;
}

.container-dependente {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    border: 3px solid;
    padding: 10px 15px 20px;
    border-radius: 15%;
}

.container-dependente .media-dependente {
    display: flex;
}

.container-dependente .media-dependente img {
    width: 200px;
    height: 200px;
}

.termos label {
    text-align: left;
}

@media(max-width: 768px) {
    .container-dependente .media-dependente img {
        width: 150px;
        height: 150px;
    }
}
.container-dependente .media-dependente .container-titulo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-dependente .regras-dependentes  h5 {
    text-align: center;
}


.container-dependente .info-botao {
    text-align: center;
    font-weight: bold
}

#lista-dependente {
    background: #7b151a;
    color: #fff;
}

.container-menu-dependente {
    display: flex;
    justify-content: space-between;
}

.container-menu-dependente .numero-limite {
    display: block;
}

.titulo-numero-dependente {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.card-dependente {
    background: none;
    border: 1px solid;
    padding-right: 10px;
}

.container-menu-dependente .mostrar-form,
.btn-remove-dependente {
    border: 1px solid #fff;
    background: none;
    color: #fff;
}

.titulo-conclusao {
    text-transform: uppercase;
    font-size: 2rem;
    line-height: 1.2;
}

.subtitulo-conclusao {
    display: inline-block;
    padding: 8px 15px;
    font-size: 1.2rem;
}

.msg-detalhes {
    margin-top: 1.77rem;
}

.msg-detalhes p {
    font-size: 1rem;
    text-align: left;
    padding-left: 30px;
    padding-right: 20px;
}


.msg-detalhes .texto-status {
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
    
}

.msg-detalhes .texto-menor {
    font-size: 0.833rem;
}

/**********************************************************************************************************************/
/*                                                    Limpa Padrão                                                  */
/**********************************************************************************************************************/

.card-header,
.card-footer {
    background: none;
}

body .menu-lateral-right {
    position: static;
}

body.menu-fixo .menu-lateral-right {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0;
    z-index: 2;
}

body.menu-fixo .menu-lateral-right > div {
    overflow-y: auto;
    scroll-behavior: smooth;
}

.menu-lateral-right > div::-webkit-scrollbar { 
    width: 3px;
    height: 2px;
}

.menu-lateral-right > div::-webkit-scrollbar-thumb { 
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background: #ccc;
}

.menu-lateral-right > div::-webkit-scrollbar-track { 
    box-shadow: inset 0 0 2px #444;
    border-radius: 15px;
}

.container-titulo-principal {
    position: relative;
}

.container-titulo-principal .btn-menu-lateral {
    position: absolute;
    top: 7px;
    right: 16px;
    font-size: 1.1rem;
}

#app header {
    position: fixed;
    height: 150px;
    width: 100%;
    top: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    background-color: #fafbfe; 
}

#app header .container-header {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#app header .content-header {
    padding-right: 1.5rem;
    justify-content: space-between;
}

#app.plano-fixo header {
    width: calc(100% - 460px);
}

#app #main {
    margin-top: 140px;
}

#app.plano-fixo #main .limite {
    width: calc(100% - 460px);
}

#app.plano-fixo #main .menu-right a.toggle-menu {
    color: #fff;
}

#app.plano-fixo #main .menu-right.h100 {
    height: 100%;
}

#app.plano-fixo #main .menu-right.h-footer {
    height: calc(100vh - 270px);
}

@media(max-width: 991px) { 
    #app.plano-fixo header {
        width: 100%;
    }

    body.menu-fixo .menu-lateral-right, .menu-lateral-right {
        order: -1;
        position: static;
        height: 100% !important;
    }


    .img-logo img{
        height: 50px;
    }

    #app header .content-header {
        padding-right: 0;
        margin-top: 0.4rem;
    }

    #app header .line-header {
        height: 10px;
    }

    #app header .horizontal-steps {
        margin-top: 0.6rem;
        margin-bottom: 0;
    }
   
    .plano-fixo .menu-right {
        position: static;
        z-index: 1;
        width: 100%;
        order: -1;
        max-height: initial;
    }

    #app.plano-fixo #main .limite {
        width: 100%;
    }

    #app.plano-fixo #main .menu-right.h-footer,
    #app.plano-fixo #main .menu-right.h100 {
        height: 165px;
    }

    #hero-saudacao .box-saudacao {
        width: 100%;
        text-align: left;
        padding: 0 15px;
    }

    .box-saudacao .saudacao {
        text-align: left;
    }

    .mensagem-lado p {
        margin-bottom: 5px;
    }

    .item-acessorio { 
        flex-direction: column;
    }

    .item-acessorio .box-descricao {
        text-align: left;
        border-bottom: 1px solid #dee2e6;
        border-right: none;
    }

    .item-acessorio .box-descricao {
        text-align: left;
    }

    .item-acessorio .box-descricao ul {
        direction: inherit;
        text-align: left;
        padding-left: 15px;
    }

    .item-acessorio .box-item-checkbox {
        width: 100%;
    }

    .item-acessorio.agrupa-item .box-descricao {
        border-bottom: none;
    }

    .item-acessorio.agrupa-item .box-item-checkbox {
        order: -1;
        width: 70px;
    }

    .item-acessorio .box-item-checkbox .item-checkbox-descricao {
        font-size: 0.875rem;
    }

    .info-valores-plano .duvidas .num-telefone { 
        display: block;
    }

    .info-valores-plano .toggle-menu .texto {
        font-size: 1rem;
    }

    .info-valores-plano .toggle-menu .box-valor-plano {
        padding: 5px;
    }

    .info-valores-plano .box-valor-plano .texto-valor-mensalidade {
        font-size: 0.8rem;
    }

    .info-valores-plano .box-valor-plano .texto-valor-mensalidade span.valor {
        font-size: 1.6rem;
    }

    #app.plano-fixo.fixed-menu #main {
        margin-top: 380px;
    }

    #app.plano-fixo.fixed-menu header {
        height: 100px;
    }

    #app header .content-header {
        flex-direction: column;
        justify-content: center;
    }

    #app.plano-fixo.fixed-menu header .img-logo {
        display: none;
    }

    #app.plano-fixo.fixed-menu .menu-right,
    #app.plano-fixo.fixed-menu .menu-right.h-footer {
        position: fixed;
        height: 145px;
        top: 100px;
        transition: all .3s;
    } 

    .menu-right .container-info-menu  { 
        display: none;
    }

    #app.plano-fixo #main .menu-right.open.h-footer, 
    #app.plano-fixo #main .menu-right.open.h100 {
        height: 100%;
        padding-bottom: 30px;
    }

    .menu-right.open .box-valor-plano .texto-info,
    .menu-right.open .texto-valor-adesao,
    .menu-right.open .container-info-menu  { 
        display: block;
    }

}