body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-bottom: 0;
    font-size: 20px;
}


@media (max-width: 768px) {
    body {
        font-size: 16px;
    }
}

.container-app {
    flex: 1;
    background: url(./../img/background-validador.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;   
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-transform: uppercase;
}

.container-app .card-validador {
    width: 80%;
    min-height: 40vh;
    max-width: 900px;
    background-color: rgba(66, 66, 66, .5);
    border-radius: 50px;
    padding: 20px 50px 50px;
}

.card-validador .input-search {
    height: 40px;
    background: #ebebeb;
    border: 1px solid #fff;
    color: #000;
    font-weight: bold;
    font-size: 1.25rem;
    border-radius: 5px;
    text-transform: uppercase;
}

.twitter-typeahead, .box-autocomplete span, .box-autocomplete input {
  width: 100%;
}

.titulo-autocomplete {
  font-size: 1.125rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  line-height: normal;
}

.tt-menu {
  margin: 12px 0;
  padding: 8px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 100%;
}


.card-validador .btn-search {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    text-transform: uppercase;
    border-radius: 5px;
}

.card-validador .btn-search span.mdi {
    font-size: 1.2rem;
    line-height: 1;
    margin-right: 5px;
}


.card-validador .response {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.response .tipo-busca {
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
}

.response .img-user {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #ebebeb;
}

.response .nome-user {
    font-size: 1.25rem;
    font-weight: bold;
    color: #fff;
    margin-top: 15px;
}

.response .status-user {
    font-size: 1.1rem;
    color: #fff;
    font-weight: bold;
    margin-top: 8px;
    width: 150px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 5px;
    text-transform: capitalize;

}

.response .status-user.inativo { background:  #dc5039;}
.response .status-user.ativo { background: #68AF27; }
.response .status-user.suspenso { background: #e09f4f; }
.response .status-user.ativoemaberto { background:#8b0000; }
.response .status-user.ativocred { background: #62d84e; }
.response .status-user.novo { background: #bcbc8f; }
.response .status-user.ferias { background: #08c; }
.response .status-user.serasa { background: #333; }
.response .status-user.dependente { background: #01454f; }
.response .status-user.prospect { background-color: gold; color: #333;}
.response .status-user.trancado, .response .status-user.desligado { background: silver; color: #333; }

.response .nome-plano {
    margin-top: 30px;
    font-weight: bold;
    color: #fff;
    font-size: 1.25rem;
}

.container-app .img-empresa-sistema {
    height: 60px;
    max-width: 100%;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.container-app .img-empresa {
    height: 90px;
    max-width: 100%;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

@media(max-width: 768px) {

    .container-app {
        min-height: 100vh;
    }

    .container-app .card-validador {
        padding: 15px 30px 20px;
        border-radius: 30px; 
        margin-bottom: 20px;
    }

    .container-app .img-empresa {
        height: 70px;
    }
    .container-app .img-empresa-sistema {
        height: 40px;
    }
}

footer {
    font-size: 0.8rem;
}
footer p {
    margin-bottom: 0.5rem;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }