.cardCars {
    height: calc(100% - 30px);
    cursor: pointer;
    color: #424242;
}

.cardCars hr {
    border-top-width: 1px;
    border-top-style: solid;
}

.cardCars .container-veiculos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 60px);
}

.cardCars .container-veiculos p {
    margin-bottom: 0.5rem;
}

.cardCars table thead th {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.cardCars .table-header {
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    margin-top: 15px;
}

.cardCars .table-footer {
    color: #fff;
    padding: 10px;
    text-align: right;
    border-radius: 0 0 10px 10px ;
    margin-bottom: 15px;
}

.cardCars .table th, .cardCars .table td {
    border-top-width: 1px;
    border-top-style: solid;
}

.cardCars .text-muted {
    color: #424242!important;
}

.header-cobertura {
    padding: 10px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    margin-top: 15px;
    font-weight: bold;
}

.body-cobertura ul  {
    margin-bottom: 0;
}

.body-cobertura ul li + li, .body-cobertura ul li:first-of-type {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 0.95rem;
}

.footer-cobertura {
    padding: 10px;
    border-radius: 0 0 10px 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}